<app-landing-customers-hero [url]="ONBOARDING_CUSTOMERS_LINK"></app-landing-customers-hero>
<app-landing-customers-trusted></app-landing-customers-trusted>
<app-landingpage-customers-why-join></app-landingpage-customers-why-join>
<app-landingpage-customers-right-for-you></app-landingpage-customers-right-for-you>
<app-landing-customers-buy-options></app-landing-customers-buy-options>
<app-landing-customers-procure-steps [url]="ONBOARDING_CUSTOMERS_LINK"></app-landing-customers-procure-steps>
<app-landing-customers-faqs></app-landing-customers-faqs>
<app-landing-customers-finalCta [url]="ONBOARDING_CUSTOMERS_LINK"></app-landing-customers-finalCta>
