<!--@if (treatmentControl) {
  <label for="prod-name" class="font-bold text-lg dark:text-offerings-on-dark">{{ 'CREATE_OFFER._treatment' | translate }}</label>
  <input data-cy="treatment" id="prod-name" type="text" [formControl]="treatmentControl" maxLength="100"
         class="mb-2 bg-offerings-page dark:bg-secondary-300 border border-offerings-border-strong dark:border-secondary-200 dark:text-offerings-on-dark text-offerings-text text-sm rounded-lg focus:ring-primary-100 focus:border-primary-100 block w-full p-2.5"/>
}-->

@if (descControl) {
  <label class="font-bold text-lg col-span-2 dark:text-offerings-on-dark">{{ 'CREATE_OFFER._description' | translate }}</label>
  <app-markdown-textarea [formControl]="descControl"></app-markdown-textarea>
}
