<div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
  <h2 class="text-xl font-semibold text-secondary-100 dark:text-white">{{ 'FORMS.PRICE_PLANS._price_plans' | translate }}</h2>

  <!-- Payment Online Checkbox -->
  <div class="mb-4 flex items-center">
    <input type="checkbox"
           data-cy="onlinePayment"
           [formControl]="paymentOnlineControl"
           (change)="onPaymentOnlineChange($event)"
           class="w-8 h-8 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 disabled:opacity-50 disabled:cursor-not-allowed">
    <label class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
      {{ 'FORMS.PRICE_PLANS._online_payment_desc' | translate }}
      @if (pricePlans.length > 0) {
        <span class="text-xs text-gray-500 dark:text-gray-400 ml-2">({{ 'FORMS.PRICE_PLANS._locked_after_first_plan' | translate }})</span>
      }
    </label>
  </div>

  <!-- Price Plans Table -->
  <app-price-plans-table
    [pricePlans]="pricePlans"
    (edit)="editPricePlan($event)"
    (delete)="removePricePlan($event)">
  </app-price-plans-table>

  <!-- Add Price Plan Button -->
  <button data-cy="newPricePlan" type="button" (click)="openPricePlanDrawer()"
          class="mt-2 px-4 py-2 flex items-center justify-center text-base font-medium bg-secondary-50 dark:bg-secondary-100 text-primary-100 dark:text-primary-50 rounded">
    <svg class="min-w-4 w-4 h-4 md:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="currentColor"
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24
            24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64
            0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
    </svg>
    <span class="hidden md:block">{{ 'FORMS.PRICE_PLANS._add' | translate }}</span>
  </button>
</div>

<!-- Price Plan Drawer -->
@if (showDrawer) {
  <app-price-plan-drawer
    [formGroup]="selectedPricePlan"
    [prodSpec]="prodSpec"
    [action]="action"
    (save)="savePricePlan($event)"
    (close)="closeDrawer()">
  </app-price-plan-drawer>
}
