<div class="flex flex-col gap-5">
  <div>
    <h2 class="font-semibold text-[20px] leading-none text-offerings-heading">{{ 'FORMS.PRICE_PLANS._price_plans' | translate }}
    </h2>
  </div>

  <!-- Payment Online Checkbox -->
  <div class="flex flex-col">
    <!--<input type="checkbox"
           data-cy="onlinePayment"
           [formControl]="paymentOnlineControl"
           (change)="onPaymentOnlineChange($event)"
           class="w-8 h-8 text-primary-100 bg-offerings-neutral border-offerings-border-strong rounded focus:ring-primary-100 dark:focus:ring-primary-100 dark:ring-offset-gray-800 focus:ring-2 dark:bg-secondary-200 dark:border-secondary-200 disabled:opacity-50 disabled:cursor-not-allowed">
    <label class="ms-2 text-sm font-medium text-offerings-text dark:text-offerings-on-dark-body">
      {{ 'FORMS.PRICE_PLANS._online_payment_desc' | translate }}
      @if (pricePlans.length > 0) {
        <span class="text-xs text-offerings-muted-text dark:text-offerings-on-dark-body ml-2">({{ 'FORMS.PRICE_PLANS._locked_after_first_plan' | translate }})</span>
      }
    </label>-->
    @if (pricePlans.length == 0) {
    <label class="block text-sm font-semibold text-offerings-text mb-2">
      Select the price type that best suits for you:
    </label>
    <select id="pricePlanType" data-cy="pricePlanType" [value]="priceType" (change)="onPaymentOnlineChange($event)"
      class="block w-full md:w-1/2 p-3 bg-offerings-surface border border-offerings-border-strong text-offerings-text text-sm rounded-lg focus:ring-primary-100 focus:border-primary-100">
      <option value="free">Free</option>
      @if(!custom){
      <option value="tailored">Tailored price</option>
      }
      <option value="paid">Online paid price</option>
    </select>
    } @else {
    <label class="text-base text-offerings-body">
      You've selected a {{
      priceType === 'free' ? 'free' :
      priceType === 'tailored' ? 'tailored' :
      'online paid'
      }} price type. If you want to change it you need to delete all your price plans before.
    </label>
    }

  </div>

  <!-- Price Plans Table -->
  <app-price-plans-table [pricePlans]="pricePlans" (edit)="editPricePlan($event)" (delete)="removePricePlan($event)">
  </app-price-plans-table>

  <!-- Add Price Plan Button -->
  @if(priceType!='free'){
  <button data-cy="newPricePlan" type="button" (click)="openPricePlanDrawer()"
    class="w-fit inline-flex items-center gap-2 px-4 py-2 text-sm font-semibold text-primary-100 rounded-lg border border-primary-100 hover:bg-primary-50/10">
    <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
      stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    {{ 'FORMS.PRICE_PLANS._add' | translate }}
  </button>
  }

</div>

<!-- Price Plan Drawer -->
@if (showDrawer) {
<app-price-plan-drawer data-cy="pricePlanDrawer" [formGroup]="selectedPricePlan" [prodSpec]="prodSpec" [action]="action"
  (save)="savePricePlan($event)" (close)="closeDrawer()">
</app-price-plan-drawer>
}
