<div class="overflow-x-auto mt-2">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-200">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-300">
    <tr>
      <th class="px-6 py-3">{{ 'FORMS.PRICE_PLANS._name' | translate }}</th>
      <th class="px-6 py-3">{{ 'FORMS.PRICE_PLANS._description' | translate }}</th>
      <th class="px-6 py-3 text-center">{{ 'FORMS.PRICE_PLANS._online_payment' | translate }}</th>
      <th class="px-6 py-3 text-center">{{ 'FORMS.PRICE_PLANS._actions' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <!-- Mostrar los Price Plans -->
      @for (plan of pricePlans; track plan.id) {
        <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors">
          <td class="px-6 py-4">{{ plan.name }}</td>
          <td class="px-6 py-4">{{ plan.description }}</td>
          <td class="px-6 py-4 text-center">
            <span *ngIf="plan.paymentOnline" class="text-green-500 font-semibold">{{ '_yes' | translate }}</span>
            <span *ngIf="!plan.paymentOnline" class="text-red-500 font-semibold">{{ '_no' | translate }}</span>
          </td>
          <td class="px-6 py-4 text-center flex justify-center gap-3">
            <!-- Botón Editar -->
            <button (click)="editPricePlan(plan)" class="text-blue-500 hover:text-blue-700 transition">
              ✏️
            </button>
            <!-- Botón Eliminar -->
            <button (click)="confirmDelete(plan)" class="text-red-500 hover:text-red-700 transition">
              🗑️
            </button>
          </td>
        </tr>
      }
      @empty {
        <tr>
          <td colspan="4" class="text-center py-4 text-gray-500">

            <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
              <span class="font-medium">{{ 'FORMS.PRICE_PLANS._no_price_plans' | translate }}</span>
            </div>


          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<!-- Modal de Confirmación de Eliminación -->
<div *ngIf="showDeleteModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
  <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
    <h2 class="text-lg font-semibold text-gray-700 dark:text-white">{{ 'FORMS.PRICE_PLANS._sure_delete' | translate }}</h2>
    <p class="text-gray-500 dark:text-gray-300">{{ 'FORMS.PRICE_PLANS._cant_be_undone' | translate }}</p>
    <div class="flex justify-end mt-4 space-x-3">
      <button (click)="showDeleteModal = false" class="px-4 py-2 bg-gray-300 dark:bg-gray-600 rounded">Cancelar</button>
      <button (click)="deletePricePlan()" class="px-4 py-2 bg-red-500 text-white rounded">Eliminar</button>
    </div>
  </div>
</div>

