body.theme-dome {
  /* HEX: #00add3 */
  --theme-primary-50: 0 173 211;
  /* HEX: #2d58a7 */
  --theme-primary-100: 45 88 167;

  /* HEX: #dde6f6 */
  --theme-secondary-50: 221 230 246;
  /* HEX: #14274a */
  --theme-secondary-100: 20 39 74;
  /* HEX: #0c1c38 */
  --theme-secondary-200: 12 28 56;
  /* HEX: #182740 */
  --theme-secondary-300: 24 39 64;
  /* HEX: #1D4184 */
  --theme-secondary-400: 29 65 132;
  /* HEX: #131B25 -dark between gray and blue-*/
  --theme-secondary-500: 19 27 37;

  /* BG COLOR */
  --theme-tertiary-50: 17 24 39;
  /* CARD/MODAL BG COLOR */
  --theme-tertiary-100: 20 39 74;
}

