<form novalidate="" class="grid h-full grid-cols-2 gap-5 m-4" [formGroup]="billingForm">
    <div class="col-span-2">
        <label for="title" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._title' | translate }}</label>
        <input id="title" formControlName="name" name="title" type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div>
        <label for="address.country" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._country' | translate }}</label>
        <input id="address.country" formControlName="country" name="address.country" type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div>
        <label for="address.city" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._city' | translate }}</label>
        <input id="address.city" formControlName="city" name="address.city" type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div>
        <label for="address.state" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._state' | translate }}</label>
        <input id="address.state" formControlName="stateOrProvince" name="address.state" type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div>
        <label for="address.zip" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._post_code' | translate }}</label>
        <input id="address.zip" formControlName="postCode" name="address.zip" type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div class="col-span-2">
        <label for="address.street_address" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._street' | translate }}</label>
        <textarea id="address.street_address" formControlName="street" name="address.street_address" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" rows="4"></textarea>
    </div>
    <div class="col-span-2">
        <label for="email" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._email' | translate }}</label>
        <input id="email" formControlName="email" name="email" type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div>
        <label for="phoneType" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._phone_type' | translate }}</label>
        <select id="phoneType" formControlName="telephoneType" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="Mobile">Mobile</option>
            <option value="Landline">Landline</option>
            <option value="Office">Office</option>
            <option value="Home">Home</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div>
        <label for="phoneNumber" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._phone' | translate }}</label>
        <div class="relative flex items-center">
            <button (click)="prefixCheck=!prefixCheck" class="mb-2 flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100" type="button">
                {{phonePrefix.flag}} {{phonePrefix.code}}
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
            </button>
            @if(prefixCheck==true){
                <div class="absolute bottom-12 right-0 z-20 max-h-48 w-full bg-white divide-y divide-gray-100 rounded-lg shadow overflow-y-auto">
                    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdown-phone-button">
                        <li>
                            @for(pref of prefixes;track pref.code){
                                <button type="button" (click)="selectPrefix(pref)" class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
                                    <div class="inline-flex items-center">
                                        {{pref.text}}
                                    </div>
                                </button>
                            }
                        </li>
                    </ul>
                </div>
            }
        <input id="phoneNumber" formControlName="telephoneNumber" name="phoneNumber" type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-r-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        </div>
    </div>
    <div class="flex w-full justify-end col-span-2">
        @if(is_create==true){
            <button type="button"  (click)="createBilling()" class="m-2 flex w-fit justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                {{ 'BILLING._add' | translate }}
            </button>
        } @else {
            <button (click)="updateBilling()" class="inline-flex items-center justify-center shrink-0 font-semibold leading-none rounded outline-none transition duration-300 ease-in-out focus:outline-0 focus:shadow focus:ring-1 focus:ring-accent-700 bg-primary-100 text-white border border-transparent hover:bg-primary-50 px-5 py-0 h-12 w-full col-span-2">
                {{ 'BILLING._update' | translate }}
            </button>
        }

    </div>
  </form>