@if (loading) {
    <div role="status" class="w-3/4 md:w-4/5 h-full flex justify-center align-middle">
      <svg aria-hidden="true" class="w-12 h-12 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  } @else {
    <div class="bg-secondary-50 dark:bg-secondary-100 border border-secondary-50 dark:border-gray-800 p-8 rounded-lg">
        <h2 class="md:text-3xl lg:text-4xl font-bold text-primary-100 ml-4 dark:text-white m-4">{{ 'PROFILE._account' | translate }}</h2>
        <hr class="h-px mr-4 ml-4 bg-primary-100 dark:bg-white border-0">
        <div class="m-4 grid grid-cols-2 gap-4">
            <div>
                <span class="font-bold dark:text-white">{{ 'PROFILE._user_id' | translate }}</span>
                <input type="text" id="username"
                class="mb-2 bg-gray-300 border border-gray-400 text-primary-100 dark:bg-secondary-200 dark:border-secondary-300 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" value="{{profile.externalReference[0].name}}" disabled readonly>
                <span class="font-bold dark:text-white">{{ 'PROFILE._email' | translate }}</span>
                <input type="text" id="email" class="mb-2 bg-gray-300 border border-gray-400 text-primary-100 dark:bg-secondary-200 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" value="{{email}}" disabled readonly>
            </div>
            <div>
                <span class="font-bold dark:text-white">{{ 'PROFILE._token' | translate }}</span>
                <input type="text" id="token" class="mb-2 bg-gray-300 border border-gray-400  text-primary-100 dark:bg-secondary-200 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" value="{{token}}" disabled readonly>
            </div>
        </div>
        <h2 class="md:text-3xl lg:text-4xl font-bold text-primary-100 ml-4 dark:text-white m-4">{{ 'PROFILE._profile' | translate }}</h2>
        <hr class="h-px mr-4 ml-4 bg-primary-100 dark:bg-white border-0">
        <form class="m-4 grid grid-cols-2 gap-4" [formGroup]="userProfileForm">
            <div>
                <label for="user-name" class="font-bold dark:text-white">{{ 'PROFILE._name' | translate }}</label>
                <input formControlName="name" type="text" id="user-name"
                class="mb-2 bg-gray-50 text-gray-900 dark:bg-secondary-300 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                [ngClass]="(userProfileForm.get('name')?.invalid == true && userProfileForm.value.name!='') || (userProfileForm.get('name')?.touched && userProfileForm.value.name=='') ? 'border-red-600' : 'border-gray-300 dark:border-secondary-200'" />
                @if(userProfileForm.get('name')?.invalid && userProfileForm.get('name')?.errors?.['required'] && (userProfileForm.get('name')?.touched && userProfileForm.value.name=='')){
                    <p class="text-sm text-red-600 dark:text-red-500"><span class="font-medium">This field is mandatory.</span></p>
                } 
                <label for="treatment" class="font-bold dark:text-white">{{ 'PROFILE._treatment' | translate }}</label>
                <select id="treatment" formControlName="treatment"
                class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="">I'd rather not say</option>
                    <option value="Miss">Miss</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Mr">Mr</option>
                    <option value="Ms">Ms</option>
                </select>
                <label for="gender" class="font-bold dark:text-white">{{ 'PROFILE._gender' | translate }}</label>
                <select id="gender" formControlName="gender"
                class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="">I'd rather not say</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div>
                <label for="lastname" class="font-bold dark:text-white">{{ 'PROFILE._lastname' | translate }}</label>
                <input type="text" formControlName="lastname" id="lastname"
                class="mb-2 bg-gray-50 text-gray-900 dark:bg-secondary-300 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                [ngClass]="(userProfileForm.get('lastname')?.invalid == true && userProfileForm.value.lastname!='') || (userProfileForm.get('lastname')?.touched && userProfileForm.value.lastname=='') ? 'border-red-600' : 'border-gray-300 dark:border-secondary-200'" />
                @if(userProfileForm.get('lastname')?.invalid && userProfileForm.get('lastname')?.errors?.['required'] && (userProfileForm.get('lastname')?.touched && userProfileForm.value.lastname=='')){
                    <p class="text-sm text-red-600 dark:text-red-500"><span class="font-medium">This field is mandatory.</span></p>
                } 
                <label for="marital-status" class="font-bold dark:text-white">{{ 'PROFILE._marital_status' | translate }}</label>
                <select id="marital-status" formControlName="maritalstatus"
                class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="">I'd rather not say</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Married">Married</option>
                    <option value="Separated">Separated</option>
                    <option value="Single">Single</option>
                    <option value="Widowed">Widowed</option>
                </select>
                <label for="nacionality" class="font-bold dark:text-white">{{ 'PROFILE._nacionality' | translate }}</label>
                <input type="text" formControlName="nacionality" id="nacionality"
                class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
        </form>
        <h2 class="md:text-3xl lg:text-4xl font-bold text-primary-100 ml-4 dark:text-white m-4">{{ 'PROFILE._birthdate' | translate }}</h2>
        <hr class="h-px mr-4 ml-4 bg-primary-100 dark:bg-white border-0">
        <form class="m-4 grid grid-cols-2 gap-4" [formGroup]="userProfileForm">
            <div>
                <label for="birthdate" class="font-bold dark:text-white">{{ 'PROFILE._date' | translate }}</label>
                <input datepicker type="date" placeholder="Select date"  formControlName="birthdate" id="birthdate"
                class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />

                <label for="city" class="font-bold dark:text-white">{{ 'PROFILE._city' | translate }}</label>
                <input type="text" formControlName="city" id="city"
                class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
            <div class="align-items-bottom align-bottom">
                <label for="country" class="font-bold dark:text-white">{{ 'PROFILE._country' | translate }}</label>
                <select id="country" formControlName="country"
                class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="">Select country</option>
                    @for(country of countries; track country.code){
                        <option value="{{country.code}}">{{country.name}}</option>
                    }
                </select>
            </div>
        </form>
        <div class="flex w-full justify-end">
            <button type="button" [disabled]="!userProfileForm.valid" [ngClass]="!userProfileForm.valid ? 'opacity-50 cursor-not-allowed' : 'cursor-pointer'"  (click)="updateProfile()"class="m-2 flex w-fit justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                {{ 'PROFILE._update' | translate }}
            </button>
        </div>
    </div>
}
@if(showError){
    <error-message class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50" [message]="errorMessage"></error-message>
}
@if (successVisibility) {
    <div class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50" >
        <div id="alert-additional-content-2" class="p-4 mb-4 text-white rounded-lg bg-primary-100" role="alert">
            <div class="flex items-center">
              <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <h3 class="text-lg font-medium">Update success</h3>
            </div>
            <div class="mt-2 mb-4 text-sm pr-8 pl-8">
                {{ 'PROFILE._success' | translate }}.
            </div>
        </div>
    </div>
}