
<div class="container mx-auto pt-2 pb-8">
    <!-- Breadcrumb -->
    <div class="pb-4">
        <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <a (click)="goTo('/search')" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                <svg class="w-3 h-3 mr-2 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 1 1 5l4 4m6-8L7 5l4 4"/>
                </svg>
                {{ 'PRODUCT_DETAILS._back' | translate }}
                </a>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">{{ 'PRODUCT_DETAILS._details' | translate }}</span>
                </div>
            </li>
            </ol>
        </nav>
    </div>
  <!-- End Breadcrumb -->

    <!-- START HEADER CARD -->
    <div class="w-full h-[320px] mb-4 bg-secondary-50 rounded-lg dark:bg-white dark:border-gray-700 border-secondary-50 border grid grid-cols-60/40">

        <div class="grid grid-rows-5 p-4 md:p-8 h-[320px]">
            <div class="mt-2">
                <a href="#">
                <h5 class="md:text-3xl lg:text-4xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{productOff?.name}}</h5>
                </a>
            </div>
            <markdown class="pt-2 line-clamp-2 dark:text-gray-600" [data]="productOff?.description"></markdown>
            <div class="grid grid-cols-2">
                <div class="min-h-19 pt-2 dark:text-gray-600">V: {{productOff?.version || 'latest'}}</div>
                <div class="flex items-center justify-end">
                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
                </div>
            </div>
            <div>
                <div class="flex place-content-start items-baseline mb-5">
                <span class="text-2xl font-bold text-gray-900 mr-1">{{ 'CARD._from' | translate }} {{getPrice().price}} {{getPrice().unit}}</span>
                <span class="text-xs font-bold text-gray-900">{{getPrice().text}}</span>
                </div>

            </div>
            <div>
                @for (cat of categories; track cat.id) {
                    <bae-badge class="mr-2" [category]=cat></bae-badge>
                }
            </div>
        </div>
        <div class="overflow-hidden flex justify-center items-center bg-white">
            <img class="rounded-r-lg h-5/6 w-5/6 object-contain" src="{{getProductImage()}}" alt="product image" />
        </div>
    </div>
<!-- END HEADER CARD -->

    <div class="w-full h-full bg-secondary-50 rounded-lg dark:bg-white dark:border-gray-700 border-secondary-50 border">
        <div class="w-full bg-secondary-50/95 dark:bg-white/95 rounded-lg">
            <ul class="hidden text-base font-medium text-center text-gray-500 rounded-lg sm:flex dark:text-gray-400" id="detailsTab" data-tabs-toggle="#detailsTabContent" role="tablist">
                <li class="w-full">
                    <button id="info-tab" data-tabs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true" class="w-full inline-block p-4 text-blue-600 dark:text-blue-500">{{ 'PRODUCT_DETAILS._details' | translate }}</button>
                </li>
                <li class="w-full">
                    <button id="chars-tab" data-tabs-target="#chars" type="button" role="tab" aria-controls="chars" aria-selected="false" class="w-full inline-block p-4 hover:text-gray-600 dark:hover:text-gray-300">{{ 'PRODUCT_DETAILS._chars' | translate }}</button>
                </li>
                <li class="w-full">
                    <button id="attachments-tab" data-tabs-target="#attachments" type="button" role="tab" aria-controls="attachments" aria-selected="false" class="w-full inline-block p-4 hover:text-gray-600 dark:hover:text-gray-300">{{ 'PRODUCT_DETAILS._attach' | translate }}</button>
                </li>
                <li class="w-full">
                    <button id="agreements-tab" data-tabs-target="#agreements" type="button" role="tab" aria-controls="agreements" aria-selected="false" class="w-full inline-block p-4 hover:text-gray-600 dark:hover:text-gray-300">{{ 'PRODUCT_DETAILS._agreements' | translate }}</button>
                </li>
                <li class="w-full">
                    <button id="relationships-tab" data-tabs-target="#relationships" type="button" role="tab" aria-controls="relationships" aria-selected="false" class="w-full inline-block p-4 hover:text-gray-600 dark:hover:text-gray-300">{{ 'PRODUCT_DETAILS._relationships' | translate }}</button>
                </li>
            </ul>
            <div id="detailsTabContent" class="border-t border-gray-300 bg-secondary-50/95 dark:bg-white/95 rounded-lg">
                <div class="hidden pl-4 md:pl-8 pt-2 md:pt-4 pb-2 md:pb-4 grid grid-cols-2 gap-14" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div>
                        <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'CARD._full_desc' | translate }}:</h5>
                        <div class="min-h-19 dark:text-gray-600">
                            <markdown class="pt-2 dark:text-gray-600" [data]="productOff?.description"></markdown>
                            @if(serviceSpecs.length > 0){
                                <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PRODUCT_DETAILS._service_spec' | translate }}:</h5>
                                <ul class="max-w-md space-y-1 list-disc list-inside dark:text-gray-600">
                                    @for(service of serviceSpecs; track service.id){
                                        <li><span class="font-bold">{{service.name}}: </span> {{service.description}}</li>
                                    }
                                </ul>
                            }
                            @if(resourceSpecs.length > 0){
                                <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PRODUCT_DETAILS._resource_spec' | translate }}:</h5>
                                <ul class="max-w-md space-y-1 list-disc list-inside dark:text-gray-600">
                                    @for(resource of resourceSpecs; track resource.id){
                                        <li><span class="font-bold">{{resource.name}}: </span> {{resource.description}}</li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                    <div>
                        <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'CARD._extra_info' | translate }}:</h5>
                        <div class="grid grid-cols-2 gap-4">
                          <ul class="max-w-md space-y-1 list-disc list-inside dark:text-gray-600">
                            <li>{{ 'CARD._offer_version' | translate }}: v{{productOff?.version}}</li>
                            <li>{{ 'CARD._product_name' | translate }}: {{prodSpec.name}}</li>
                            <li>{{ 'CARD._brand' | translate }}: {{prodSpec.brand}}</li>
                          </ul>
                          <ul class="max-w-md space-y-1 list-disc list-inside dark:text-gray-600">
                            <li>{{ 'CARD._last_update' | translate }}: {{productOff?.lastUpdate | date:'dd/MM/yy, HH:mm'}}</li>
                            <li>{{ 'CARD._product_version' | translate }}: v{{prodSpec.version}}</li>
                            <li>{{ 'CARD._id_number' | translate }}: XX</li>
                          </ul>
                        </div>
                        <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'CARD._comp_profile' | translate }}:</h5>
                        <ul class="max-w-md space-y-1 list-disc list-inside dark:text-gray-600">
                          @for (char of complianceProf; track char.id) {
                            @if (char.href == '#') {
                                <li>{{char.name}}: {{char.value}}</li>
                            } @else {
                                <li>{{char.name}}: <a href="{{char.href}}">{{char.value}}</a></li>
                            }
                          }
                        </ul>
                    </div>

                </div>
                <div class="hidden pl-4 md:pl-8 pt-2 md:pt-4 pb-2 md:pb-4 w-full" id="chars" role="tabpanel" aria-labelledby="chars-tab">
                    @for (char of prodSpec.productSpecCharacteristic; track char.id) {
                        <div class="min-h-19 pb-2">
                            <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{char.name}}:</h5>
                            @for (val of char?.productSpecCharacteristicValue; track val.value) {
                                @if (val?.isDefault == true) {
                                    <div class="flex items-center">
                                        <input disabled checked id="disabled-checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-full focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="disabled-checked-checkbox" class="ms-2 text-sm font-medium dark:text-gray-600">{{val.value}}</label>
                                    </div>
                                } @else {
                                    <div class="flex items-center">
                                        <input disabled id="disabled-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-full focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="disabled-checkbox" class="ms-2 text-sm font-medium dark:text-gray-600">{{val.value}}</label>
                                    </div>
                                }
                            }
                        </div>
                    } @empty {
                        <div class="min-h-19 dark:text-gray-600 text-center">{{ 'PRODUCT_DETAILS._no_chars' | translate }}.</div>
                    }
                </div>
                <div class="hidden pl-4 md:pl-8 pt-2 md:pt-4 pb-2 md:pb-4" id="attachments" role="tabpanel" aria-labelledby="attachments-tab">
                    <div class="min-h-19 dark:text-gray-600 text-center">{{ 'PRODUCT_DETAILS._no_attach' | translate }}.</div>
                </div>
                <div class="hidden pl-4 md:pl-8 pt-2 md:pt-4 pb-2 md:pb-4" id="agreements" role="tabpanel" aria-labelledby="agreements-tab">
                    <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PRODUCT_DETAILS._license' | translate }}:</h5>
                    <p class="mb-2 font-normal text-gray-700">{{productOff?.productOfferingTerm?.at(0)?.name}}</p>
                    <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PRODUCT_DETAILS._sla' | translate }}:</h5>
                    <p class="mb-2 font-normal text-gray-700">{{ 'PRODUCT_DETAILS._no_sla' | translate }}.</p>
                    <div class="grid grid-flow-col auto-cols-auto justify-items-center p-2">
                    @for (price of productOff?.productOfferingPrice; track price.id) {
                        @if (price.priceType == 'recurring') {
                            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow w-full">
                                <div class="bg-green-500 rounded-t-lg w-full">
                                    <h5 class="flex justify-center mb-2 p-6 text-2xl font-bold tracking-tight text-gray-900 w-full">{{price.name}}</h5>
                                </div>
                                <p class="flex justify-center font-normal text-gray-700"> <b class="text-xl mr-2">{{price.price?.value}}</b> {{price.price?.unit}}</p>
                                <p class="flex justify-center font-normal text-gray-700">/{{price.recurringChargePeriodType}}</p>
                                <p class="flex justify-center mb-2 font-normal text-gray-700">{{price.description}}</p>
                            </div>
                        } @else if (price.priceType == 'usage') {
                            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow w-full">
                                <div class="bg-yellow-300 rounded-t-lg w-full">
                                    <h5 class="flex justify-center mb-2 p-6 text-2xl font-bold tracking-tight text-gray-900">{{price.name}}</h5>
                                </div>
                                <p class="flex justify-center font-normal text-gray-700"> <b class="text-xl mr-2">{{price.price?.value}}</b> {{price.price?.unit}}</p>
                                <p class="flex justify-center font-normal text-gray-700">/{{price.unitOfMeasure?.units}}</p>
                                <p class="flex justify-center mb-2 font-normal text-gray-700">{{price.description}}</p>
                            </div>
                        } @else {
                            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow w-full">
                                <div class="bg-blue-500 rounded-t-lg w-full">
                                    <h5 class="flex justify-center mb-2 p-6 text-2xl font-bold tracking-tight text-gray-900">{{price.name}}</h5>
                                </div>
                                <p class="flex justify-center font-normal text-gray-700"> <b class="text-xl mr-2">{{price.price?.value}}</b> {{price.price?.unit}}</p>
                                <p class="flex justify-center mb-2 font-normal text-gray-700">{{price.description}}</p>
                            </div>
                        }
                    }
                </div>
                </div>
                <div class="hidden pl-4 md:pl-8 pt-2 md:pt-4 pb-2 md:pb-4" id="relationships" role="tabpanel" aria-labelledby="relationships-tab">
                    <div class="min-h-19 dark:text-gray-600 text-center">{{ 'PRODUCT_DETAILS._no_relatioships' | translate }}.</div>
                </div>
            </div>
        </div>

    </div>
</div>
