<div class="m-8">
    <div class="mb-4 grid grid-cols-2 gap-4">
        <div>
            <label class="font-bold text-lg dark:text-white">{{ 'CREATE_OFFER._name' | translate }}</label>
            <label class="mb-2 bg-gray-50 text-wrap break-all dark:bg-secondary-300 dark:border-secondary-200 dark:text-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                {{ productOfferForm.get('generalInfo.name')?.value }}
            </label>

        </div>
       <div>
            <label for="prod-version" class="font-bold text-lg dark:text-white">{{ 'CREATE_OFFER._version' | translate }}</label>
            <label class="mb-2 bg-gray-50 text-wrap break-all border border-gray-300 text-gray-900 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                {{ productOfferForm.get('generalInfo.version')?.value }}
            </label>
        </div>
    </div>

  <div class="mb-4">
        <label class="font-bold text-lg mr-4 dark:text-white">{{ 'CREATE_OFFER._status' | translate }}</label>
        @if(productOfferForm.get('generalInfo')?.get('status')?.value == 'Active'){
            <span class="bg-blue-100 dark:bg-secondary-300 text-blue-600 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-blue-400">{{productOfferForm.get('generalInfo')?.get('status')?.value}}</span>
        } @else if(productOfferForm.get('generalInfo')?.get('status')?.value == 'Launched') {
            <span class="bg-blue-100 dark:bg-secondary-300 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-green-500">{{productOfferForm.get('generalInfo')?.get('status')?.value}}</span>
        } @else if(productOfferForm.get('generalInfo')?.get('status')?.value == 'Retired') {
            <span class="bg-blue-100 dark:bg-secondary-300 text-yellow-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-yellow-500">{{productOfferForm.get('generalInfo')?.get('status')?.value}}</span>
        } @else if(productOfferForm.get('generalInfo')?.get('status')?.value == 'Obsolete') {
            <span class="bg-blue-100 dark:bg-secondary-300 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-red-500">{{productOfferForm.get('generalInfo.status')?.get('status')?.value}}</span>
        }
    </div>
   
   @if(productOfferForm.get('generalInfo.description')?.value !=''){
        <label class="font-bold text-lg dark:text-white">{{ 'CREATE_OFFER._description' | translate }}</label>
        <div class="px-4 py-2 bg-white rounded-lg p-4 mb-4 dark:bg-secondary-300 dark:text-white border dark:border-secondary-200">
            <markdown class="bg-gray-50 dark:bg-secondary-300 dark:text-white text-gray-900 text-wrap break-all" [data]="productOfferForm.get('generalInfo.description')?.value"></markdown>
        </div>
    }
<!--
    @if(productOfferForm.get('pricePlans')){
        <label class="font-bold text-lg dark:text-white">{{ 'CREATE_OFFER._bundle' | translate }}</label>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full bg-white mb-4">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-secondary-200 dark:text-white">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            {{ 'CREATE_OFFER._name' | translate }}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            {{ 'CREATE_OFFER._status' | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (bun of offersBundle; track bun) {
                        <tr class="border-b hover:bg-gray-200 dark:bg-secondary-300 dark:border-gray-700 dark:hover:bg-secondary-200">
                            <td class="px-6 py-4 text-wrap break-all">
                                {{bun.name}}
                            </td>
                            <td class="px-6 py-4">
                                @if(bun.lifecycleStatus == 'Active'){
                                    <span class="bg-blue-100 dark:bg-secondary-300 text-blue-600 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-blue-400">{{bun.lifecycleStatus}}</span>
                                } @else if(bun.lifecycleStatus == 'Launched') {
                                    <span class="bg-blue-100 dark:bg-secondary-300 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-green-500">{{bun.lifecycleStatus}}</span>
                                } @else if(bun.lifecycleStatus == 'Retired') {
                                    <span class="bg-blue-100 dark:bg-secondary-300 text-yellow-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-yellow-500">{{bun.lifecycleStatus}}</span>
                                } @else if(bun.lifecycleStatus == 'Obsolete') {
                                    <span class="bg-blue-100 dark:bg-secondary-300 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-red-500">{{bun.lifecycleStatus}}</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }-->

    @if(productOfferForm.get('catalogue')?.value){
        <label class="font-bold text-lg dark:text-white">{{ 'CREATE_OFFER._catalog' | translate }}</label>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full bg-white mb-4">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-secondary-200 dark:text-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        {{ 'OFFERINGS._name' | translate }}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        {{ 'OFFERINGS._status' | translate }}
                    </th>
                    <th scope="col" class="hidden md:table-cell px-6 py-3">
                        {{ 'OFFERINGS._role' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b hover:bg-gray-200 dark:bg-secondary-300 dark:border-gray-700 dark:hover:bg-secondary-200">
                    <td class="px-6 py-4 text-wrap break-all">
                        {{productOfferForm.get('catalogue')?.value.name}}
                    </td>
                    <td class="px-6 py-4">
                        @if(productOfferForm.get('catalogue')?.value.lifecycleStatus == 'active'){
                            <span class="bg-blue-100 dark:bg-secondary-300 text-blue-600 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-blue-400">{{productOfferForm.get('catalogue')?.value.lifecycleStatus}}</span>
                        } @else if(productOfferForm.get('catalogue')?.value.lifecycleStatus == 'Launched') {
                            <span class="bg-blue-100 dark:bg-secondary-300 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-green-500">{{productOfferForm.get('catalogue')?.value.lifecycleStatus}}</span>
                        } @else if(productOfferForm.get('catalogue')?.value.lifecycleStatus == 'suspended') {
                            <span class="bg-blue-100 dark:bg-secondary-300 text-yellow-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-yellow-500">{{productOfferForm.get('catalogue')?.value.lifecycleStatus}}</span>
                        } @else if(productOfferForm.get('catalogue')?.value.lifecycleStatus == 'terminated') {
                            <span class="bg-blue-100 dark:bg-secondary-300 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-red-500">{{productOfferForm.get('catalogue')?.value.lifecycleStatus}}</span>
                        }
                    </td>
                    <td class="hidden md:table-cell px-6 py-4">
                        {{productOfferForm.get('catalogue')?.value.relatedParty?.at(0)?.role}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }

@if(productOfferForm.get('category')?.value){
    <h2 class="font-bold text-lg dark:text-white">{{ 'CREATE_OFFER._category' | translate }}</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full bg-white mb-4">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-secondary-200 dark:text-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        {{ 'CREATE_OFFER._name' | translate }}
                    </th>
                    <th scope="col" class="hidden md:table-cell px-6 py-3">
                        {{ 'CREATE_OFFER._last_update' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (cat of productOfferForm.get('category')?.value; track cat.id) {
                    <tr class="border-b hover:bg-gray-200 dark:bg-secondary-300 dark:border-gray-700 dark:hover:bg-secondary-200">
                        <td class="px-6 py-4 text-wrap break-all">
                            {{cat.name}}
                        </td>
                        <td class="hidden md:table-cell px-6 py-4">
                            {{cat.lastUpdate | date:'EEEE, dd/MM/yy, HH:mm'}}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if(productOfferForm.get('pricePlans')?.value){
    <h2 class="font-bold text-lg dark:text-white">{{ 'CREATE_OFFER._price_plans' | translate }}</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full bg-white mb-4">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-secondary-200 dark:text-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        {{ 'CREATE_OFFER._name' | translate }}
                    </th>
                    <th scope="col" class="hidden md:table-cell px-6 py-3">
                        {{ 'CREATE_OFFER._description' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (price of productOfferForm.get('pricePlans')?.value; track price.id) {
                    <tr class="border-b hover:bg-gray-200 dark:bg-secondary-300 dark:border-gray-700 dark:hover:bg-secondary-200">
                        <td class="px-6 py-4 max-w-1/6 text-wrap break-all">
                            {{price.name}}
                        </td>
                        <td class="hidden md:table-cell px-6 py-4 text-wrap break-all">
                            {{price.description}}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<!--
@if(createdSLAs.length>0){
    <h2 class="font-bold text-lg">{{ 'CREATE_OFFER._sla' | translate }}</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full bg-white mb-4">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-secondary-200 dark:text-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        {{ 'CREATE_OFFER._name' | translate }}
                    </th>
                    <th scope="col" class="hidden md:table-cell px-6 py-3">
                        {{ 'CREATE_OFFER._description' | translate }}
                    </th>
                    <th scope="col" class="hidden md:table-cell px-6 py-3">
                        {{ 'CREATE_OFFER._threshold' | translate }}
                    </th>
                    <th scope="col" class="hidden md:table-cell px-6 py-3">
                        {{ 'CREATE_OFFER._unit' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (sla of createdSLAs; track sla) {
                    <tr class="border-b hover:bg-gray-200 dark:bg-secondary-300 dark:border-gray-700 dark:hover:bg-secondary-200">
                        <td class="px-6 py-4">
                            {{sla.type}}
                        </td>
                        <td class="hidden md:table-cell px-6 py-4 text-wrap break-all">
                            {{sla.description}}
                        </td>
                        <td class="hidden md:table-cell px-6 py-4">
                            {{sla.threshold}}
                        </td>
                        <td class="hidden md:table-cell px-6 py-4">
                            {{sla.unitMeasure}}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
-->
@if(!isLicenseEmpty) {
    <h2 class="font-bold text-lg dark:text-white">{{ 'CREATE_OFFER._license' | translate }}</h2>
    <div>
        <label for="treatment" class="font-bold text-base dark:text-white">{{ 'CREATE_OFFER._treatment' | translate }}</label>
        <label class="mb-2 bg-gray-50 text-wrap break-all dark:bg-secondary-300 dark:border-secondary-200 dark:text-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            {{productOfferForm.get('license')?.get('treatment')?.value}}
        </label>
        @if(productOfferForm.get('license')?.get('description')?.value!==''){
            <label class="font-bold text-base dark:text-white">{{ 'CREATE_OFFER._description' | translate }}</label>
            <div class="px-4 py-2 bg-gray-50 dark:bg-secondary-300 border border-gray-300 dark:border-secondary-200 dark:text-white rounded-lg p-4">
                <markdown class="bg-gray-50 dark:bg-secondary-300 dark:text-white text-gray-900 text-wrap break-all" [data]="productOfferForm.get('license')?.get('description')?.value"></markdown>
            </div>
        }
    </div>
}
</div>