
<div>
    <!-- Breadcrumb -->
    <div class="pb-4">
        <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-secondary-50 dark:bg-secondary-100 dark:border-gray-800 dark:text-white" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <button (click)="goBack()" class="inline-flex items-center text-sm font-medium text-gray-500 dark:text-white hover:text-primary-100 dark:hover:text-primary-50">
                <svg class="w-3 h-3 mr-2 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M5 1 1 5l4 4m6-8L7 5l4 4"/>
                </svg>
                {{ 'CREATE_CATEGORIES._back' | translate }}
                </button>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-gray-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <span class="ms-1 text-sm font-medium text-gray-500 dark:text-white md:ms-2 ">{{ 'CREATE_CATEGORIES._create' | translate }}</span>
                </div>
            </li>
            </ol>
        </nav>
    </div>
  <!-- End Breadcrumb -->

  <div class="bg-secondary-50 dark:bg-secondary-100 border border-secondary-50 dark:border-gray-800 mt-4 p-8 rounded-lg">
    <h2 class="text-3xl font-bold text-primary-100 ml-4 dark:text-white">{{ 'CREATE_CATEGORIES._new' | translate }}</h2>
    <hr class="h-px m-4 bg-gray-300 dark:bg-gray-200 border-0">
    <div class="md:grid md:grid-cols-20/80">
        <div class="flex sm:flex-row md:flex-col md:mr-4 w-full md:w-fit overflow-x-auto">
            <h2 class="hidden md:block text-xl font-bold text-black mb-4 dark:text-white">{{ 'CREATE_CATEGORIES._steps' | translate }}</h2>
            <button id="general-info" (click)="toggleGeneral()" [disabled]="!generalDone"
            class="grid sm:grid-rows-2 md:grid-rows-1 md:grid-cols-40/60 xl:grid-cols-20/80 mb-2 mr-2 md:mr-0 text-primary-100 dark:text-primary-50 justify-items-center md:justify-items-start">
                <span id="general-circle" class="flex items-center justify-center w-6 h-6 md:w-8 md:h-8 border border-2 border-primary-100 dark:border-primary-50 rounded-full shrink-0">
                    1
                </span>
                <span>
                    <h3 class="flex sm:text-center md:text-start">{{ 'CREATE_CATEGORIES._general' | translate }}</h3>
                    <p class="hidden xl:flex text-xs sm:text-center md:text-start">{{ 'CREATE_CATEGORIES._general_info' | translate }}</p>
                </span>
            </button>
            <hr class="h-px mb-2 bg-gray-300 dark:bg-gray-200 border-0">
            <button id="summary" [disabled]="true"
            class="grid sm:grid-rows-2 md:grid-rows-1 md:grid-cols-40/60 xl:grid-cols-20/80 mb-2 mr-2 md:mr-0 text-gray-500 justify-items-center md:justify-items-start">
                <span id="summary-circle" class="flex items-center justify-center w-6 h-6 md:w-8 md:h-8 border border-2 border-gray-400 rounded-full shrink-0">
                    2
                </span>
                <span>
                    <h3 class="flex leading-tight justify-start">{{ 'CREATE_CATEGORIES._finish' | translate }}</h3>
                    <p class="hidden xl:flex text-xs justify-start text-start">{{ 'CREATE_CATEGORIES._summary' | translate }}</p>
                </span>
            </button>
        </div>
        <div>
            @if(showGeneral){
                <h2 class="text-3xl font-bold text-primary-100 ml-4 dark:text-white">{{ 'CREATE_CATEGORIES._general' | translate }}</h2>
                    <form class="m-4 gap-4" [formGroup]="generalForm">
                        <label for="prod-name" class="font-bold text-lg dark:text-white">{{ 'CREATE_CATEGORIES._name' | translate }}</label>
                        <input formControlName="name" type="text" id="prod-name" maxLength="100"
                        [ngClass]="generalForm.get('name')?.invalid == true && generalForm.value.name!='' ? 'border-red-600' : 'border-gray-300'"
                        class="mb-2 bg-gray-50 dark:bg-secondary-300 border border-gray-300 dark:border-secondary-200 dark:text-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        
                        <label for="prod-name" class="font-bold text-lg dark:text-white">{{ 'CREATE_CATEGORIES._description' | translate }}</label>
                        <app-markdown-textarea formControlName="description"></app-markdown-textarea>
                        <label class="font-bold text-lg dark:text-white">{{ 'CREATE_CATEGORIES._choose_parent' | translate }}</label>
                        <label class="inline-flex items-center me-5 cursor-pointer ml-4">
                            <input type="checkbox" (change)="toggleParent()" [checked]="parentSelectionCheck" class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-400 dark:bg-gray-700 rounded-full peer peer-focus:ring-4 peer-focus:ring-primary-100 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary-100"></div>
                        </label>
                        @if(parentSelectionCheck){
                            @if(categories.length==0){
                                <div class="flex justify-center w-full m-4">
                                    <div class="flex w-full items-center p-4 text-sm text-primary-100 rounded-lg bg-blue-50 dark:bg-secondary-200 dark:text-primary-50" role="alert">
                                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                        </svg>
                                        <div>
                                            {{ 'OFFERINGS._no_categories' | translate }}
                                        </div>
                                    </div>
                                </div>                    
                            }@else{
                            <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full mt-4">               
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-secondary-200 dark:text-white">
                                    <tr class="flex w-full justify-between">
                                        <th scope="col" class="flex px-6 py-3 w-3/5">
                                            {{ 'CREATE_OFFER._name' | translate }}
                                        </th>
                                        <th scope="col" class="hidden md:flex px-6 py-3 w-fit">
                                            {{ 'CREATE_OFFER._last_update' | translate }}
                                        </th>
                                        <th scope="col" class="flex px-6 py-3 w-fit">
                                            {{ 'CREATE_OFFER._select' | translate }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (cat of categories; track cat.id;let idx = $index) {
                                        <tr class="flex border-b dark:border-gray-700 hover:bg-gray-200 w-full justify-between dark:bg-secondary-300 dark:hover:bg-secondary-200">
                                            <td class="flex px-6 py-4 w-3/5 text-wrap break-all">
                                                <b>{{cat.name}}</b>
                                            </td>
                                            <td class="hidden md:flex px-6 py-4 w-fit">
                                                {{cat.lastUpdate | date:'EEEE, dd/MM/yy, HH:mm'}} 
                                            </td>
                                            <td class="flex px-6 py-4 w-fit justify-end">
                                                <input id="select-checkbox" [checked]="isCategorySelected(cat)" type="checkbox" value="" (click)="addCategory(cat)" class="flex w-4 h-4 justify-end text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            </td>
                                        </tr>
                                        @if(cat.children.length>0){
                                            @for(child of cat.children; track child){
                                                <tr>
                                                    <td colspan=3>
                                                    <categories-recursion class="w-full" [child]="child" [parent]="cat" [selected]="selected" [path]="cat.name"></categories-recursion>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            </div>
                            }
                        }

                    </form>
                    <div class="flex w-full justify-items-end justify-end">
                        <button type="button" (click)="showFinish();generalDone=true;" [disabled]="!generalForm.valid || (parentSelectionCheck == true && selectedCategory==undefined)" [ngClass]="!generalForm.valid || (parentSelectionCheck == true && selectedCategory==undefined) ? 'opacity-50' : 'hover:bg-primary-50'" class="flex text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                            {{ 'CREATE_CATEGORIES._next' | translate }}
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </button>
                    </div>
            }
            
            @if(showSummary){
                <h2 class="text-3xl font-bold text-primary-100 ml-4 dark:text-white">{{ 'CREATE_CATEGORIES._finish' | translate }}</h2>
                <div class="m-8">
                    <div>
                        <label class="font-bold text-lg dark:text-white">{{ 'CREATE_CATEGORIES._name' | translate }}</label>
                        <label class="mb-2 bg-gray-50 text-wrap break-all border border-gray-300 text-gray-900 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{categoryToCreate?.name}}
                        </label>
                    </div>
                    
                    <div class="mb-4">
                        <label class="font-bold text-lg mr-4 dark:text-white">{{ 'CREATE_CATEGORIES._status' | translate }}</label>
                        @if(categoryToCreate?.lifecycleStatus == 'Active'){
                            <span class="bg-blue-100 dark:bg-secondary-300 text-blue-600 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-blue-400">{{categoryToCreate?.lifecycleStatus}}</span>
                        } @else if(categoryToCreate?.lifecycleStatus == 'Launched') {
                            <span class="bg-blue-100 dark:bg-secondary-300 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-green-500">{{categoryToCreate?.lifecycleStatus}}</span>
                        } @else if(categoryToCreate?.lifecycleStatus == 'Retired') {
                            <span class="bg-blue-100 dark:bg-secondary-300 text-yellow-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-yellow-500">{{categoryToCreate?.lifecycleStatus}}</span>
                        } @else if(categoryToCreate?.lifecycleStatus == 'Obsolete') {
                            <span class="bg-blue-100 dark:bg-secondary-300 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-red-500">{{categoryToCreate?.lifecycleStatus}}</span>
                        }
                    </div>

                    @if(categoryToCreate?.description !=''){
                        <label class="font-bold text-lg dark:text-white">{{ 'CREATE_CATEGORIES._description' | translate }}</label>
                        <div class="px-4 py-2 bg-white dark:bg-secondary-300 border dark:border-secondary-200 rounded-lg p-4 mb-4">
                            <markdown class="bg-gray-50 dark:bg-secondary-100 dark:text-white text-gray-900 text-wrap break-all" [data]="categoryToCreate?.description"></markdown>
                        </div>
                    }

                    @if(isParent==false){
                        <label class="font-bold text-lg dark:text-white">{{ 'CREATE_CATEGORIES._parent' | translate }}</label>
                        <div class="px-4 py-2 bg-white border border-1 dark:bg-secondary-300 dark:border-secondary-200 dark:text-white rounded-lg p-4 mb-4">
                            <label class="text-base dark:text-white text-wrap break-all">{{selectedCategory.name}}</label>
                        </div>                        
                    }
                    
                    
                    <div class="flex w-full justify-items-end justify-end ml-4">
                        <button type="button" (click)="createCategory();" class="flex text-white justify-end bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                            {{ 'CREATE_CATEGORIES._create' | translate }}
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </button>
                    </div>
                    
                </div>
            }
        </div>
    </div>
  </div>
</div>

@if(showError){
    <error-message class="flex justify-center items-center fixed w-fit top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50" [message]="errorMessage"></error-message>
}