
<div class="container mx-auto pt-2 pb-8">
    <h1 class="mb-8 mt-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white w-full"><span class="underline underline-offset-3 decoration-8 decoration-primary-100 dark:decoration-primary-100">{{ 'PROFILE._profile' | translate }}</span></h1>

    <div class="w-full grid grid-cols-20/80">


        <div class="w-48 h-fit text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            <button (click)="getProfile()" id="general-button" aria-current="true" class="block w-full px-4 py-2 text-white bg-primary-100 border-b border-gray-200 rounded-t-lg cursor-pointer dark:border-gray-600 hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                {{ 'PROFILE._general' | translate }}
            </button>
            <button (click)="getBilling()" id="bill-button" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                {{ 'PROFILE._bill' | translate }}
            </button>
            <button (click)="getOrders()" id="order-button" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                {{ 'PROFILE._orders' | translate }}
            </button>
        </div>

        @if (loading) {
            <div role="status" class="w-3/4 md:w-4/5 h-full flex justify-center align-middle">
              <svg aria-hidden="true" class="w-12 h-12 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
          } @else {
            @if(show_profile){
                <div class="w-full h-fit bg-secondary-50 rounded-lg dark:border-gray-700 border-secondary-50 border">
                    <h5 class="md:text-3xl lg:text-4xl m-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PROFILE._account' | translate }}:</h5>
                    <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
                    <div class="m-4 grid grid-cols-2 gap-4">
                        <div>
                            <span class="font-bold">{{ 'PROFILE._user_id' | translate }}:</span>
                            <input type="text" id="username" class="mb-2 bg-gray-300 border border-gray-400  text-primary-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" value="{{profile.externalReference[0].name}}" disabled readonly>    
                            <span class="font-bold">{{ 'PROFILE._email' | translate }}:</span>
                            <input type="text" id="email" class="mb-2 bg-gray-300 border border-gray-400  text-primary-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" value="{{email}}" disabled readonly>    
                        </div>
                        <div>
                            <span class="font-bold">{{ 'PROFILE._token' | translate }}:</span>
                            <input type="text" id="token" class="mb-2 bg-gray-300 border border-gray-400  text-primary-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" value="{{token}}" disabled readonly>    
                        </div>                    
                    </div>
                    <h5 class="md:text-3xl lg:text-4xl m-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PROFILE._profile' | translate }}:</h5>
                    <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
                    <form class="m-4 grid grid-cols-2 gap-4" [formGroup]="userProfileForm">
                        <div>
                            <label for="user-name" class="font-bold">{{ 'PROFILE._name' | translate }}:</label>
                            <input formControlName="name" type="user-name" id="user-name" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />    
                            <label for="treatment" class="font-bold">{{ 'PROFILE._treatment' | translate }}:</label>
                            <select id="treatment" formControlName="treatment" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option value="">I'd rather not say</option>
                                <option value="Miss">Miss</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Mr">Mr</option>
                                <option value="Ms">Ms</option>
                            </select>
                            <label for="gender" class="font-bold">{{ 'PROFILE._gender' | translate }}:</label>
                            <select id="gender" formControlName="gender" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option value="">I'd rather not say</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div>
                            <label for="lastname" class="font-bold">{{ 'PROFILE._lastname' | translate }}:</label>
                            <input type="lastname" formControlName="lastname" id="lastname" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />    
                            <label for="marital-status" class="font-bold">{{ 'PROFILE._marital_status' | translate }}:</label>
                            <select id="marital-status" formControlName="maritalstatus" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option value="">I'd rather not say</option>
                                <option value="Divorced">Divorced</option>
                                <option value="Married">Married</option>
                                <option value="Separated">Separated</option>
                                <option value="Single">Single</option>
                                <option value="Widowed">Widowed</option>
                            </select>
                            <label for="nacionality" class="font-bold">{{ 'PROFILE._nacionality' | translate }}:</label>
                            <input type="nacionality" formControlName="nacionality" id="nacionality" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />    
                        </div>                    
                    </form>
                    <h5 class="md:text-3xl lg:text-4xl m-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PROFILE._birthdate' | translate }}:</h5>
                    <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
                    <form class="m-4 grid grid-cols-2 gap-4" [formGroup]="userProfileForm">
                        <div>
                            <label for="birthdate" class="font-bold">{{ 'PROFILE._date' | translate }}:</label>
                            <input type="birthdate" formControlName="birthdate" id="birthdate" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="XX/XX/XXXX" />
  
                            <label for="city" class="font-bold">{{ 'PROFILE._city' | translate }}:</label>
                            <input type="city" formControlName="city" id="city" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />    
                        </div>
                        <div class="align-items-bottom align-bottom">
                            <label for="country" class="font-bold">{{ 'PROFILE._country' | translate }}:</label>
                            <select id="country" formControlName="country" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option value="">Select country</option>
                                @for(country of countries; track country.code){
                                    <option value="{{country.code}}">{{country.name}}</option>
                                }
                            </select>   
                        </div> 
                    </form>
                    <div class="flex w-full justify-end">
                        <button type="button"  (click)="updateProfile()" class="m-2 flex w-fit justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                            {{ 'PROFILE._update' | translate }}
                        </button>
                    </div>
                </div>
            }
            @if(show_orders){
                <div class="place-items-center">
                  @for (order of orders; track order.id; let idx = $index) {
                      <div class="w-full h-fit bg-secondary-50 rounded-lg dark:border-gray-700 border-secondary-50 border mb-4">
  
                          <div class="p-4 overflow-hidden border-b border-b-primary-100 border-b-2 shadow-lg rounded-t-lg">
                            <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{order?.orderDate | date:'EEEE, dd/MM/yy, HH:mm'}}</h5>
                            <ul class="w-full space-y-1 list-disc list-inside dark:text-gray-600">
                              <li><span class="font-bold">{{ 'PRODUCT_INVENTORY._order_id' | translate }}: </span> {{order.id}}</li>
                              <li><span class="font-bold">{{ 'PRODUCT_INVENTORY._state' | translate }}: </span> {{order.state}}</li>
                              <li><span class="font-bold">{{ 'PRODUCT_INVENTORY._priority' | translate }}: </span> {{order.priority}}</li>
                            </ul>
                          </div>
                        
                          <div class="bg-cover bg-right-bottom bg-opacity-25 rounded-lg" style="background-image: url(assets/logos/dome-logo-element-colour.png)">
                            <div class="px-5 py-5 bg-secondary-50/95 rounded-lg">
                              @for(item of order.productOrderItem; track item.id){
                                <div class="grid grid-cols-20/80 mb-4 bg-secondary-50 border border-primary-100 border-2 rounded-lg shadow-xl">
                                  <div class="flex relative h-min-full w-min-full justify-center items-center rounded-lg">
                                    <!-- Imagen de fondo difuminada -->
                                    <div class="absolute inset-0 bg-cover bg-center opacity-75" style="background-image: url({{getProductImage(item)}});filter: blur(20px);"></div>
                                    <!-- Imagen superior -->
                                    <img [id]="'img-'+idx" class="h-5/6 w-5/6 object-contain z-10" src="{{getProductImage(item)}}" alt="Descripción de la imagen">
                                  </div>
                                  <div class="flex flex-col justify-start p-4 leading-normal dark:text-gray-600">
                                      <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{item?.name}}</h5>
                                      <span class="font-bold">{{ 'PRODUCT_INVENTORY._desc' | translate }}: </span>
                                      <span class="min-h-19 h-19 line-clamp-2">{{item.description}}</span>
                                      <span class="font-bold">{{ 'PRODUCT_INVENTORY._price' | translate }}: </span>
                                      <span class="min-h-19 h-19 line-clamp-2">{{item.productOfferingPrice.price}} {{item.productOfferingPrice.unit}} {{item.productOfferingPrice.text}}</span>
                                  </div>
                                </div>
                              }
                            </div>
                          </div>
                      </div>
                  } @empty {
                    <div class="min-h-19 dark:text-gray-600 text-center">{{ 'PRODUCT_INVENTORY._not_found' | translate }}.</div>
                  } 
              </div>
              }
              @if(show_billing){
                <div class="w-full h-fit bg-secondary-50 rounded-lg dark:border-gray-700 border-secondary-50 border">
                    <h5 class="md:text-3xl lg:text-4xl m-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PROFILE._mybills' | translate }}:</h5>
                    <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
                    <div class="m-4 relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        {{ 'BILLING._title' | translate }}
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        {{ 'BILLING._email' | translate }}
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        {{ 'BILLING._postalAddress' | translate }}
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        {{ 'BILLING._phone' | translate }}
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        {{ 'BILLING._action' | translate }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (bill of billing_accounts; track bill.id) {
                                    <tr (click)="selectBill(bill)" class="border-b hover:bg-gray-200" [ngClass]="bill.selected == true ? 'bg-primary-30' : 'bg-white'">
                                        <td class="px-6 py-4">
                                            {{bill.name}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{bill.email}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{bill.postalAddress.street}}, {{bill.postalAddress.postCode}} ({{bill.postalAddress.city}}) {{bill.postalAddress.stateOrProvince}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{bill.telephoneNumber}}
                                        </td>
                                        <td class="px-6 py-4">
                                            <button (click)="toggleEditBill(bill);$event.stopPropagation();" type="button" class="text-white bg-primary-100 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2">
                                                <svg class="w-[18px] h-[18px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                    <path fill-rule="evenodd" d="M14 4.182A4.136 4.136 0 0 1 16.9 3c1.087 0 2.13.425 2.899 1.182A4.01 4.01 0 0 1 21 7.037c0 1.068-.43 2.092-1.194 2.849L18.5 11.214l-5.8-5.71 1.287-1.31.012-.012Zm-2.717 2.763L6.186 12.13l2.175 2.141 5.063-5.218-2.141-2.108Zm-6.25 6.886-1.98 5.849a.992.992 0 0 0 .245 1.026 1.03 1.03 0 0 0 1.043.242L10.282 19l-5.25-5.168Zm6.954 4.01 5.096-5.186-2.218-2.183-5.063 5.218 2.185 2.15Z" clip-rule="evenodd"/>
                                                </svg>                                                                                                                                       
                                            </button>
                                            <button (click)="toggleDeleteBill(bill);$event.stopPropagation();" type="button" class="text-white bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2">
                                                <svg class="w-[18px] h-[18px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                    <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                                                  </svg>                                                                                                                                     
                                            </button>                                              
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <h5 class="md:text-3xl lg:text-4xl m-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">New shipping address:</h5>
                    <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
                    <app-billing-account-form [preferred]="preferred"></app-billing-account-form>
                </div>
              }
          }
    </div>
</div>

<!-- BILL ADDRESS EDIT modal -->
@if (editBill){
    <div id="edit-bill-modal" [ngClass]="editBill ? 'backdrop-blur-sm': ''" tabindex="-1" aria-hidden="true" class="flex justify-center overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full shadow-2xl">
        <div class="w-1/2 relative bg-secondary-50 rounded-lg shadow bg-cover bg-right-bottom" (click)="$event.stopPropagation();">
            <!-- Modal header -->
            <div class="flex items-center justify-between pr-2 pt-2 rounded-t dark:border-gray-600">
                <h5 class="text-xl ml-4 mr-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'BILLING._edit' | translate }}:</h5>
                <button (click)="editBill=false;" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="edit-bill-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">{{ 'CARD._close' | translate }}</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="w-full h-full">                
               <app-billing-account-form [billAcc]="billToUpdate"></app-billing-account-form>
            </div>
        </div>
    </div>
}

<!-- BILL ADDRESS DELETE modal -->
@if (deleteBill){
    <div id="delete-bill-modal" [ngClass]="deleteBill ? 'backdrop-blur-sm': ''" tabindex="-1" aria-hidden="true" class="flex justify-center overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full shadow-2xl">
        <div class="w-1/2 relative bg-secondary-50 rounded-lg shadow bg-cover bg-right-bottom" (click)="$event.stopPropagation();">
            <!-- Modal header -->
            <div class="flex items-center justify-between pr-2 pt-2 rounded-t dark:border-gray-600">
                <h5 class="text-xl ml-4 mr-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'BILLING._confirm_delete' | translate }}</h5>
                <button (click)="deleteBill=false;" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="delete-bill-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">{{ 'CARD._close' | translate }}</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="w-full h-full">                
                <div class="grid h-full grid-cols-2 gap-5 m-4">
                    <div class="col-span-2">
                        <label for="title" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._title' | translate }}</label>
                        <p type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{billToDelete.name}}
                        </p>
                    </div>
                    <div>
                        <label for="address.country" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._country' | translate }}</label>
                        <p class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{billToDelete.postalAddress.country}}
                        </p>
                    </div>
                    <div>
                        <label for="address.city" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._city' | translate }}</label>
                        <p type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{billToDelete.postalAddress.city}}
                        </p>
                    </div>
                    <div>
                        <label for="address.state" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._state' | translate }}</label>
                        <p type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{billToDelete.postalAddress.stateOrProvince}}
                        </p>
                    </div>
                    <div>
                        <label for="address.zip" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._post_code' | translate }}</label>
                        <p type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{billToDelete.postalAddress.postCode}}
                        </p>
                    </div>
                    <div class="col-span-2">
                        <label for="address.street_address" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._street' | translate }}</label>
                        <p class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{billToDelete.postalAddress.street}}
                        </p>
                    </div>
                    <div class="col-span-2">
                        <label for="email" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._email' | translate }}</label>
                        <p type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{billToDelete.email}}
                        </p>
                    </div>
                    <div>
                        <label for="phoneType" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._phone_type' | translate }}</label>
                        <p type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{billToDelete.telephoneType}}
                        </p>
                    </div>
                    <div>
                        <label for="phoneNumber" class="mb-3 block text-sm font-semibold leading-none text-body-dark">{{ 'BILLING._phone' | translate }}</label>                    
                        <p type="text" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            {{billToDelete.telephoneNumber}}
                        </p>
                    </div>
                    <div class="grid grid-cols-2 gap-4 w-full col-span-2">
                        <button (click)="deleteBill=false" class="h-12 w-full bg-primary-100 hover:bg-primary-50 items-center justify-center shrink-0 font-semibold leading-none rounded outline-none transition duration-300 ease-in-out focus:outline-0 focus:shadow focus:ring-1 focus:ring-accent-700 text-white border border-transparent">
                            {{ 'BILLING._cancel' | translate }}
                        </button>
                        <button (click)="onDeletedBill(billToDelete)" class="h-12 w-full bg-red-800 hover:bg-red-600 items-center justify-center shrink-0 font-semibold leading-none rounded outline-none transition duration-300 ease-in-out focus:outline-0 focus:shadow focus:ring-1 focus:ring-accent-700 text-white border border-transparent">
                            {{ 'BILLING._delete' | translate }}
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

}
