
<div class="container mx-auto pt-2 pb-8">
    <h1 class="mb-8 mt-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white w-full"><span class="underline underline-offset-3 decoration-8 decoration-primary-100 dark:decoration-primary-100">{{ 'PROFILE._profile' | translate }}</span></h1>

    <div class="w-full grid grid-cols-20/80">


        <div class="w-48 h-fit text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            <button (click)="getProfile()" id="general-button" aria-current="true" class="block w-full px-4 py-2 text-white bg-primary-100 border-b border-gray-200 rounded-t-lg cursor-pointer dark:border-gray-600 hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                {{ 'PROFILE._general' | translate }}
            </button>
            <button (click)="getBilling()" id="bill-button" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                {{ 'PROFILE._bill' | translate }}
            </button>
            <button (click)="getOrders()" id="order-button" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                {{ 'PROFILE._orders' | translate }}
            </button>
        </div>

        @if (loading) {
            <div role="status" class="w-3/4 md:w-4/5 h-full flex justify-center align-middle">
              <svg aria-hidden="true" class="w-12 h-12 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
          } @else {
            @if(show_profile){
                <div class="w-full h-fit bg-secondary-50 rounded-lg dark:border-gray-700 border-secondary-50 border">
                    <h5 class="md:text-3xl lg:text-4xl m-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PROFILE._account' | translate }}:</h5>
                    <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
                    <div class="m-4 grid grid-cols-2 gap-4">
                        <div>
                            <span class="font-bold">{{ 'PROFILE._username' | translate }}:</span>
                            <input type="text" id="username" class="mb-2 bg-gray-300 border border-gray-400  text-primary-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" value="{{profile.externalReference[0].name}}" disabled readonly>    
                            <span class="font-bold">{{ 'PROFILE._email' | translate }}:</span>
                            <input type="text" id="email" class="mb-2 bg-gray-300 border border-gray-400  text-primary-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" value="{{email}}" disabled readonly>    
                        </div>
                        <div>
                            <span class="font-bold">{{ 'PROFILE._token' | translate }}:</span>
                            <input type="text" id="token" class="mb-2 bg-gray-300 border border-gray-400  text-primary-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" value="{{token}}" disabled readonly>    
                        </div>                    
                    </div>
                    <h5 class="md:text-3xl lg:text-4xl m-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PROFILE._profile' | translate }}:</h5>
                    <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
                    <form class="m-4 grid grid-cols-2 gap-4">
                        <div>
                            <label for="user-name" class="font-bold">{{ 'PROFILE._name' | translate }}:</label>
                            <input type="user-name" id="user-name" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="{{profile.givenName}}" />    
                            <label for="treatment" class="font-bold">{{ 'PROFILE._treatment' | translate }}:</label>
                            <select id="treatment" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option>I'd rather not say</option>
                                <option>Miss</option>
                                <option>Mrs</option>
                                <option>Mr</option>
                                <option>Ms</option>
                            </select>
                            <label for="gender" class="font-bold">{{ 'PROFILE._gender' | translate }}:</label>
                            <select id="gender" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option>I'd rather not say</option>
                                <option>Female</option>
                                <option>Male</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div>
                            <label for="lastname" class="font-bold">{{ 'PROFILE._lastname' | translate }}:</label>
                            <input type="lastname" id="lastname" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="{{profile.familyName}}" />    
                            <label for="marital-status" class="font-bold">{{ 'PROFILE._marital_status' | translate }}:</label>
                            <select id="marital-status" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option>I'd rather not say</option>
                                <option>Divorced</option>
                                <option>Married</option>
                                <option>Separated</option>
                                <option>Single</option>
                                <option>Widowed</option>
                            </select>
                            <label for="nacionality" class="font-bold">{{ 'PROFILE._nacionality' | translate }}:</label>
                            <input type="nacionality" id="nacionality" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="{{profile.nacionality}}" />    
                        </div>                    
                    </form>
                    <h5 class="md:text-3xl lg:text-4xl m-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{ 'PROFILE._birthdate' | translate }}:</h5>
                    <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
                    <form class="m-4 grid grid-cols-2 gap-4">
                        <div>
                            <label for="birthdate" class="font-bold">{{ 'PROFILE._date' | translate }}:</label>
                            <input type="birthdate" id="birthdate" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="XX/XX/XXXX" />    
                            <label for="city" class="font-bold">{{ 'PROFILE._city' | translate }}:</label>
                            <input type="city" id="city" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="{{profile.placeOfBirth}}" />    
                        </div>
                        <div class="align-items-bottom align-bottom">
                            <label for="country" class="font-bold">{{ 'PROFILE._country' | translate }}:</label>
                            <select id="marital-status" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                <option>Spain</option>
                                <option>France</option>
                                <option>Portugal</option>
                                <option>Canada</option>
                                <option>Italy</option>
                                <option>Germany</option>
                            </select>   
                        </div> 
                    </form>
                    <div class="flex w-full justify-end">
                        <button type="button"  href="https://dome-marketplace.eu/" target="_blank" class="m-2 flex w-fit justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-100 hover:bg-primary-50 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                            {{ 'PROFILE._update' | translate }}
                        </button>
                    </div>
                </div>
            }
            @if(show_orders){
                <div class="place-items-center">
                  @for (order of orders; track order.id; let idx = $index) {
                      <div class="w-full h-fit bg-secondary-50 rounded-lg dark:border-gray-700 border-secondary-50 border mb-4">
  
                          <div class="p-4 overflow-hidden border-b border-b-primary-100 border-b-2 shadow-lg rounded-t-lg">
                            <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{order?.orderDate | date:'EEEE, dd/MM/yy, HH:mm'}}</h5>
                            <ul class="w-full space-y-1 list-disc list-inside dark:text-gray-600">
                              <li><span class="font-bold">{{ 'PRODUCT_INVENTORY._order_id' | translate }}: </span> {{order.id}}</li>
                              <li><span class="font-bold">{{ 'PRODUCT_INVENTORY._state' | translate }}: </span> {{order.state}}</li>
                              <li><span class="font-bold">{{ 'PRODUCT_INVENTORY._priority' | translate }}: </span> {{order.priority}}</li>
                            </ul>
                          </div>
                        
                          <div class="bg-cover bg-right-bottom bg-opacity-25 rounded-lg" style="background-image: url(assets/logos/dome-logo-element-colour.png)">
                            <div class="px-5 py-5 bg-secondary-50/95 rounded-lg">
                              @for(item of order.productOrderItem; track item.id){
                                <div class="grid grid-cols-20/80 mb-4 bg-secondary-50 border border-primary-100 border-2 rounded-lg shadow-xl">
                                  <div class="flex relative h-min-full w-min-full justify-center items-center rounded-lg">
                                    <!-- Imagen de fondo difuminada -->
                                    <div class="absolute inset-0 bg-cover bg-center opacity-75" style="background-image: url({{getProductImage(item)}});filter: blur(20px);"></div>
                                    <!-- Imagen superior -->
                                    <img [id]="'img-'+idx" class="h-5/6 w-5/6 object-contain z-10" src="{{getProductImage(item)}}" alt="Descripción de la imagen">
                                  </div>
                                  <div class="flex flex-col justify-start p-4 leading-normal dark:text-gray-600">
                                      <h5 class="text-xl font-semibold tracking-tight text-primary-100 dark:text-primary-100">{{item?.name}}</h5>
                                      <span class="font-bold">{{ 'PRODUCT_INVENTORY._desc' | translate }}: </span>
                                      <span class="min-h-19 h-19 line-clamp-2">{{item.description}}</span>
                                      <span class="font-bold">{{ 'PRODUCT_INVENTORY._price' | translate }}: </span>
                                      <span class="min-h-19 h-19 line-clamp-2">{{item.productOfferingPrice.price}} {{item.productOfferingPrice.unit}} {{item.productOfferingPrice.text}}</span>
                                  </div>
                                </div>
                              }
                            </div>
                          </div>
                      </div>
                  } @empty {
                    <div class="min-h-19 dark:text-gray-600 text-center">{{ 'PRODUCT_INVENTORY._not_found' | translate }}.</div>
                  } 
              </div>
              }
              @if(show_billing){
                <div class="w-full h-fit bg-secondary-50 rounded-lg dark:border-gray-700 border-secondary-50 border">
                    <h5 class="md:text-3xl lg:text-4xl m-4 font-semibold tracking-tight text-primary-100 dark:text-primary-100">My billing addresses:</h5>
                    <hr class="h-px mr-4 ml-4 bg-primary-100 border-0">
                    <div class="m-4 relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        {{ 'SHOPPING_CART._email' | translate }}
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        {{ 'SHOPPING_CART._postalAddress' | translate }}
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        {{ 'SHOPPING_CART._phone' | translate }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (bill of billing_accounts; track bill.id; let idx = $index) {
                                    <tr (click)="selectBill(idx)" class="border-b hover:bg-gray-200" [ngClass]="bill.selected == true ? 'bg-primary-30' : 'bg-white'">
                                        <td class="px-6 py-4">
                                            {{bill.email}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{bill.postalAddress.street}}, {{bill.postalAddress.postCode}} ({{bill.postalAddress.city}}) {{bill.postalAddress.stateOrProvince}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{bill.telephoneNumber}}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
              }
          }
    </div>
</div>
