<!-- Drawer -->
<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-end transition-opacity duration-500 z-50"
     [ngClass]="{'opacity-100': isOpen, 'opacity-0 pointer-events-none': !isOpen}">

  <div class="w-full md:w-5/6 bg-secondary-50 dark:bg-gray-800 h-full p-6 overflow-y-auto transform transition-transform duration-500"
       [ngClass]="{'translate-x-0': isOpen, 'translate-x-full': !isOpen, '-translate-x-full': !initialized}">


    <!-- Título -->
    <h2 class="text-xl font-semibold text-gray-700 dark:text-white">
      {{ component ? 'Update Price Component' : 'New Price Component' }}
    </h2>

    <form [formGroup]="priceComponentForm" (ngSubmit)="submitForm()" class="mt-4 space-y-4">

      <!-- Nombre -->
      <div>
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">{{ 'FORMS.PRICE_PLAN_COMPONENT._name' | translate }}</label>
        <input data-cy="priceComponentName" formControlName="name" type="text"
               class="mt-1 w-full p-2 border rounded dark:bg-gray-700 dark:border-gray-600 dark:text-gray-100">
      </div>

      <!-- Descripción -->
      <div data-cy="priceComponentDescription">
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">{{ 'FORMS.PRICE_PLAN_COMPONENT._description' | translate }}</label>
        <app-markdown-textarea formControlName="description"></app-markdown-textarea>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">{{ 'FORMS.PRICE_PLAN_COMPONENT._base_price' | translate }}</label>
      
        <input
          data-cy="price"
          formControlName="price"
          type="number"
          step="0.1"
          (blur)="priceComponentForm.get('price')?.markAsTouched()"
          [ngClass]="(priceComponentForm.get('price')?.invalid == true && priceComponentForm.value.price!='') || (priceComponentForm.get('price')?.touched && priceComponentForm.value.price=='') ? 'border-red-600' : 'dark:border-gray-600'"
          class="mb-2 bg-gray-50 dark:bg-secondary-300 border text-sm rounded-lg block w-full p-2.5
            text-gray-900 dark:text-gray-100 focus:ring-blue-500 focus:border-blue-500"
        />
      
        <!-- Validation Messages -->
         @if(priceComponentForm.get('price')?.invalid && (priceComponentForm.get('price')?.touched || priceComponentForm.get('price')?.dirty)){
          <div class="text-red-500 text-sm mt-1">
            @if(priceComponentForm.get('price')?.errors?.['required']){
              <div>
                {{ 'FORMS.PRICE_PLAN_COMPONENT._price_required' | translate }}
              </div>
            }@else if(priceComponentForm.get('price')?.errors?.['max']){
              <div>
                {{ 'FORMS.PRICE_PLAN_COMPONENT._price_limit' | translate }}
              </div>
            }@else if(priceComponentForm.get('price')?.errors?.['min'] && (priceComponentForm.get('price')?.touched || priceComponentForm.get('price')?.dirty)){
              <div class="text-red-500 text-sm mt-1">
                {{ 'FORMS.PRICE_PLAN_COMPONENT._price_positive' | translate }}
              </div>
            }
          </div>
         }
      </div>
      
      
      @if(profileData){
      <div class="relative w-full">
        <div class="flex items-center space-x-2">
          <!-- Label -->
          <label class="font-bold text-lg dark:text-white">
            {{ 'FORMS.PRICE_PLAN_COMPONENT._apply_to_char' | translate }}
          </label>
      
          <!-- Info Icon + Popover -->
          <div class="relative"
              (mouseenter)="showPopover = true"
              (mouseleave)="showPopover = false">
            <svg
              class="w-5 h-5 text-primary-100 cursor-pointer"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"/>
              <line x1="12" y1="16" x2="12" y2="12"/>
              <line x1="12" y1="8" x2="12.01" y2="8"/>
            </svg>
      
            <!-- Popover -->
            @if(showPopover) {
              <div
                class="absolute bottom-full mb-2 left-1/2 -translate-x-1/2 z-50 w-64 p-3 text-sm bg-white border border-gray-300 rounded shadow-lg dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600">
                <div class="font-semibold mb-1 text-gray-900 dark:text-white">
                  {{ 'FORMS.PRICE_PLAN_COMPONENT._product_char' | translate }}
                </div>
                <p>
                  {{ 'FORMS.PRICE_PLAN_COMPONENT._prod_char_info' | translate }}
                </p>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="flex flex-row">
        <select id="type" (change)="changePriceComponentChar($event)"
          class="mb-2 mr-2 bg-gray-50 dark:bg-secondary-300 border border-gray-300 dark:border-secondary-200 dark:text-gray-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            @if(!selectedCharacteristic){
              <option value="">Select a characteristic</option>
              @for(char of filteredChars; track char){
                <option  value="{{char.id}}">{{char.name}}</option>
              }
            } @else {
              <option  value="{{selectedCharacteristic.id}}">{{selectedCharacteristic.name}}</option>
              @for(char of filteredChars; track char){
                @if(selectedCharacteristic.id != char.id){
                  <option  value="{{char.id}}">{{char.name}}</option>
                }
              }
            }
          </select>
          @if(showValueSelect){
              <select id="type" (change)="changePriceComponentCharValue($event)"
              class="mb-2 bg-gray-50 dark:bg-secondary-300 border border-gray-300 dark:border-secondary-200 dark:text-gray-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"> 
                  @for(val of selectedCharacteristic.productSpecCharacteristicValue; track val){
                      @if(hasKey(val, 'unitOfMeasure')){
                          <option value="{{val.value}}">{{val.value}} ({{val.unitOfMeasure}})</option>
                      } @else {
                          <option value="{{val.value}}">{{val.value}}</option>
                      }
                  }
              </select>
          }
      </div>
      }

      <!-- Tipo de Precio -->
      <div>
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">{{ 'FORMS.PRICE_PLAN_COMPONENT._type_of_price' | translate }}</label>
        <select data-cy="priceType" formControlName="priceType" class="mt-1 w-full p-2 border rounded dark:bg-gray-700 dark:border-gray-600 dark:text-gray-100">
          <option value="one time">{{ 'FORMS.PRICE_PLAN_COMPONENT._one_time' | translate }}</option>
          <option value="recurring">{{ 'FORMS.PRICE_PLAN_COMPONENT._recurring' | translate }}</option>
          <option value="recurring-prepaid">{{ 'FORMS.PRICE_PLAN_COMPONENT._recurring_prepaid' | translate }}</option>
          <option value="usage">{{ 'FORMS.PRICE_PLAN_COMPONENT._usage' | translate }}</option>
        </select>
      </div>

      <!-- Opciones dinámicas según el tipo de precio -->
      @if (priceComponentForm.get('priceType')?.value === 'recurring' || priceComponentForm.get('priceType')?.value === 'recurring-prepaid') {
        <div>
          <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">{{ 'FORMS.PRICE_PLAN_COMPONENT.recurring_period' | translate }}</label>
          <select data-cy="recurringType" formControlName="recurringPeriod" class="w-full p-2 border rounded dark:bg-gray-700 dark:border-gray-600 dark:text-gray-100">
            <option value="day">{{ 'FORMS.PRICE_PLAN_COMPONENT._daily' | translate }}</option>
            <option value="week">{{ 'FORMS.PRICE_PLAN_COMPONENT._weekly' | translate }}</option>
            <option value="month">{{ 'FORMS.PRICE_PLAN_COMPONENT._monthly' | translate }}</option>
            <option value="year">{{ 'FORMS.PRICE_PLAN_COMPONENT._yearly' | translate }}</option>
          </select>
        </div>
      } @else if (priceComponentForm.get('priceType')?.value === 'usage') {
      <div class="flex flex-row">
        <select id="type" (change)="changePriceComponentUsageSpec($event)" 
          class="mb-2 mr-2 bg-gray-50 dark:bg-secondary-300 border border-gray-300 dark:border-secondary-200 dark:text-gray-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            @if(!selectedUsageSpec){
              <option value="">Select a usage specification</option>
              @for(usage of usageSpecs; track usage){
                <option  value="{{usage.id}}">{{usage.name}}</option>
              }
            } @else {
              <option  value="{{selectedUsageSpec.id}}">{{selectedUsageSpec.name}}</option>
              @for(usage of usageSpecs; track usage){
                @if(usage.name != selectedUsageSpec.name){
                  <option  value="{{usage.id}}">{{usage.name}}</option>
                }
              }
            }
          </select>
          @if(showMetricSelect){
              <select id="type" (change)="changePriceComponentMetric($event)"
              class="mb-2 bg-gray-50 dark:bg-secondary-300 border border-gray-300 dark:border-secondary-200 dark:text-gray-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"> 
                  @if(!selectedMetric){
                    @for(metric of selectedUsageSpec.specCharacteristic; track metric){
                      <option value="{{metric.name}}">{{metric.name}}</option>
                    }
                  } @else {
                    <option value="selectedMetric">{{selectedMetric}}</option>
                    @for(metric of selectedUsageSpec.specCharacteristic; track metric){
                      @if(metric.name != selectedMetric){
                        <option value="{{metric.name}}">{{metric.name}}</option>
                      }                      
                    }
                  }
              </select>
          }
      </div>
      

      
      }

      <!-- Descuento -->
      <div class="flex items-center mb-4">
        <input
          type="checkbox"
          [(ngModel)]="showDiscount"
          [ngModelOptions]="{ standalone: true }"
          class="w-4 h-4 text-blue-600 border-gray-300 rounded cursor-pointer
                 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700
                 checked:bg-blue-600 checked:border-blue-600"
        />
        <label for="showDiscount" class="ml-2 font-medium text-base text-gray-900 dark:text-white">
          {{ 'FORMS.PRICE_PLAN_COMPONENT._includes_discount' | translate }}
        </label>
      </div>
      
      @if(showDiscount){
        <div>
          <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">
            {{ 'FORMS.PRICE_PLAN_COMPONENT._add_discount' | translate }}
          </label>
          <div class="flex space-x-2">
            <input
              formControlName="discountValue"
              type="number"
              placeholder="Amount"
              class="w-1/2 p-2 border rounded dark:bg-gray-700 dark:text-gray-100"
              [ngClass]="(priceComponentForm.get('discountValue')?.invalid == true && priceComponentForm.value.discountValue!='') || (priceComponentForm.get('discountValue')?.touched && priceComponentForm.value.discountValue=='') ? 'border-red-600' : 'dark:border-gray-600'"
            >
            <select
              formControlName="discountUnit"
              class="w-1/2 p-2 border rounded dark:bg-gray-700 dark:border-gray-600 dark:text-gray-100"
            >
              <option value="percentage">{{ 'FORMS.PRICE_PLAN_COMPONENT._percentage' | translate }}</option>
              <option value="fixed">{{ 'FORMS.PRICE_PLAN_COMPONENT._fixed' | translate }}</option>
            </select>
          </div>
        
          <!-- Validation Error -->
           @if(priceComponentForm.get('discountValue')?.invalid && priceComponentForm.get('discountValue')?.touched){
            <div  class="text-red-500 text-sm mt-1">
              @if(priceComponentForm.get('discountValue')?.errors?.['min']){
                <div>
                  {{ 'FORMS.PRICE_PLAN_COMPONENT._discount_positive' | translate }}
                </div>
              }@else if(priceComponentForm.get('discountValue')?.errors?.['max']){
                <div>
                  {{ 'FORMS.PRICE_PLAN_COMPONENT._discount_limit' | translate }}
                </div>
              }
            </div>
           }

        </div>
        
  
        <!-- Duración del Descuento -->
        <div>
          <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">
            {{ 'FORMS.PRICE_PLAN_COMPONENT._discount_duration' | translate }}
          </label>
          <div class="flex space-x-2">
            <input
              formControlName="discountDuration"
              type="number"
              placeholder="Duration"
              class="w-1/2 p-2 rounded dark:bg-gray-700 dark:text-gray-100"
              [ngClass]="(priceComponentForm.get('discountDuration')?.invalid == true && priceComponentForm.value.discountDuration!='') || (priceComponentForm.get('discountDuration')?.touched && priceComponentForm.value.discountDuration=='') ? 'border-red-600' : 'dark:border-gray-600'"
            >
            <select
              formControlName="discountDurationUnit"
              class="w-1/2 p-2 border rounded dark:bg-gray-700 dark:border-gray-600 dark:text-gray-100"
            >
              <option value="days">{{ 'FORMS.PRICE_PLAN_COMPONENT._days' | translate }}</option>
              <option value="weeks">{{ 'FORMS.PRICE_PLAN_COMPONENT._weeks' | translate }}</option>
              <option value="months">{{ 'FORMS.PRICE_PLAN_COMPONENT._months' | translate }}</option>
              <option value="years">{{ 'FORMS.PRICE_PLAN_COMPONENT._years' | translate }}</option>
            </select>
          </div>
        
          <!-- Validation Error -->
          @if(priceComponentForm.get('discountDuration')?.invalid && priceComponentForm.get('discountDuration')?.touched){
            <div class="text-red-500 text-sm mt-1">
              @if(priceComponentForm.get('discountDuration')?.errors?.['min']){
                <div>
                  {{ 'FORMS.PRICE_PLAN_COMPONENT._duration_positive' | translate }}
                </div>
              }
            </div>
          }
        </div>
        
      }


      <!-- Botones -->
      <div class="flex justify-end space-x-3">
        <button type="button" (click)="closeDrawer()" class="px-4 py-2 bg-gray-300 dark:bg-gray-600 dark-text:white rounded">{{ 'FORMS.PRICE_PLAN_COMPONENT._cancel' | translate }}</button>
        <button data-cy="savePriceComponent" type="submit" [disabled]="priceComponentForm.invalid" [ngClass]="priceComponentForm.invalid ? 'opacity-50 cursor-not-allowed' : 'cursor-pointer'" class="px-4 py-2 bg-blue-500 text-white rounded">{{ 'FORMS.PRICE_PLAN_COMPONENT._save' | translate }}</button>
      </div>
    </form>

  </div>
</div>
