<app-europe-trademark></app-europe-trademark>
<footer>
  <div class="footer-cols">
    <div>
      <h3>{{ "dashboard.footer.aboutTitle" | translate }}</h3>
      <a href="/about">{{ "dashboard.footer.about" | translate }}</a>
      <a href="/governance">{{ "dashboard.footer.governance" | translate }}</a>
      <a href="https://dome-project.eu/about/#partners">{{
        "dashboard.footer.partners" | translate
      }}</a>
    </div>

    <div>
      <h3>{{ "dashboard.footer.marketplaceTitle" | translate }}</h3>
      <a href="/search">{{ "dashboard.footer.browse" | translate }}</a>
      <a href="#for-customers">{{ "dashboard.nav.forCustomers" | translate }}</a>
      <a href="#for-providers">{{ "dashboard.nav.forProviders" | translate }}</a>
    </div>

    <div>
      <h3>{{ "dashboard.footer.legalTitle" | translate }}</h3>
      <a href="/assets/documents/terms.pdf">{{
        "dashboard.footer.terms" | translate
      }}</a>
      <a href="/assets/documents/privacy.pdf">{{
        "dashboard.footer.privacy" | translate
      }}</a>
      <a href="/assets/documents/cookies.pdf">{{
        "dashboard.footer.cookies" | translate
      }}</a>
    </div>

    <div>
      <h3>{{ "dashboard.footer.resourcesTitle" | translate }}</h3>
      <a href="https://knowledgebase.dome-marketplace-prd.org/">{{
        "dashboard.footer.documentation" | translate
      }}</a>
      <a href="https://dome-marketplace.eu/contact-us">{{
        "dashboard.footer.support" | translate
      }}</a>
      <a href="/faq">{{ "dashboard.footer.faqs" | translate }}</a>
    </div>

    <div>
      <h3>{{ "dashboard.footer.follow-us" | translate }}</h3>

      <div
        class="hidden md:flex justify-start text-gray-500 dark:text-gray-400"
      >
        @for (social of socialLinks; track social.url) {
          <fa-icon
            (click)="open(social.url!)"
            [ngClass]="{ 'mr-4': !$last }"
            class="cursor-pointer"
            [icon]="social.icon"
          ></fa-icon>
        }
      </div>
    </div>
  </div>
</footer>
