<footer>
  <div class="footer-cols">
    <div>
      <h3>{{ "DASHBOARD.footer.aboutTitle" | translate }}</h3>
      <a href="/about">{{ "DASHBOARD.footer.about" | translate }}</a>
      <a href="/governance">{{ "DASHBOARD.footer.governance" | translate }}</a>
      <a href="https://dome-project.eu/about/#partners">{{
        "DASHBOARD.footer.partners" | translate
        }}</a>
    </div>

    <div>
      <h3>{{ "DASHBOARD.footer.marketplaceTitle" | translate }}</h3>
      <a href="/search">{{ "DASHBOARD.footer.browse" | translate }}</a>
      <a href="#for-customers">{{ "DASHBOARD.nav.forCustomers" | translate }}</a>
      <a href="#for-providers">{{ "DASHBOARD.nav.forProviders" | translate }}</a>
    </div>

    <div>
      <h3>{{ "DASHBOARD.footer.legalTitle" | translate }}</h3>
      <a href="/assets/documents/terms.pdf">{{
        "DASHBOARD.footer.terms" | translate
        }}</a>
      <a href="/assets/documents/privacy.pdf">{{
        "DASHBOARD.footer.privacy" | translate
        }}</a>
      <a href="/assets/documents/cookies.pdf">{{
        "DASHBOARD.footer.cookies" | translate
        }}</a>
    </div>

    <div>
      <h3>{{ "DASHBOARD.footer.resourcesTitle" | translate }}</h3>
      <a href="https://knowledgebase.dome-marketplace-prd.org/">{{
        "DASHBOARD.footer.documentation" | translate
        }}</a>
      <a href="https://dome-marketplace.eu/contact-us">{{
        "DASHBOARD.footer.support" | translate
        }}</a>
      <a href="/faq">{{ "DASHBOARD.footer.faqs" | translate }}</a>
    </div>

    <div>
      <h3>{{ "DASHBOARD.footer.follow-us" | translate }}</h3>

      <div class="hidden md:flex justify-start text-gray-500 dark:text-gray-400">
        @for (social of socialLinks; track social.url) {
        <fa-icon (click)="open(social.url!)" [ngClass]="{ 'mr-4': !$last }" class="cursor-pointer"
          [icon]="social.icon"></fa-icon>
        }
      </div>
    </div>
  </div>
</footer>
