<!-- Offerings Gallery section -->
<h2 class="text-4xl font-extrabold text-primary-100 text-center dark:text-primary-50">Offerings showcase</h2>
<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid gap-2 grid-cols-1 place-items-center	md:grid-cols-3">
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
  <bae-off-card></bae-off-card>
</div>
<!-- End Offerings Section -->

