.chatbot-widget, .chatbot-widget * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.chatbot-widget {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

.chatbot-widget * {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

/* CHATBOX
=============== */

@media screen and (max-width: 768px) {
    .chatbox {
        position: fixed;  /* Cambiato da absolute a fixed */
        bottom: 2%;
        right: 2%;
    }
}
@media screen and (min-width: 768px) {
    .chatbox {
        position: fixed;  /* Cambiato da absolute a fixed */
        bottom: calc(2% + 50px);
        right: 2%;
    }
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 80vw;  /* Modifica qui */
    max-width: 400px;
    height: 70vh; /* Modifica qui */
    max-height: 600px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT IS OPEN */
.chatbox--active {
    transform: translateY(0);
    z-index: 123456;
    opacity: 1;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 85%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 85%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Question Container */
.question-container {
    margin: 50px 0 50px 20px; /* Allinea a sinistra con un margine */
    padding: 20px;
    width: 50%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra orizzontalmente */
    text-align: center;
}

.question-container label {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px; /* Margine inferiore per spazio tra label e select */
}

.question-container select {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px; /* Margine inferiore per spazio tra select e immagine */
}

.question-container .question-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .chatbox__support {
        width: 100vw;
        height: 50vh;
        bottom: 0;
        right: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .question-container {
        width: 90%;
    }
}