<div class="container chatbot-widget fixed" style="bottom: 30px; right: 0;">
  <div class="chatbox">
    <div class="chatbox__support">
      <div class="chatbox__header">
        <div class="chatbox__image--header">
          <!--
            <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
          -->
          <img src="assets/chatbot/images/dome_logo.PNG" alt="image">
        </div>
        <div class="chatbox__content--header">
          <h4 class="chatbox__heading--header">DOME support</h4>
          <p class="chatbox__description--header">Hi. My name is DomeGPT. How can I help you?</p>
        </div>
      </div>
      <div class="chatbox__messages">
      </div>
      <div class="chatbox__footer">
        <input type="text" placeholder="Write a message..." (keyup)="onKeyUp($event)">
          <button class="chatbox__send--footer send__button" (click)="onSendButton()">Send</button>
      </div>
    </div>
    <div class="chatbox__button" (click)="toggleState()">
      <button><img src="assets/chatbot/images/chatbox-icon.svg" /></button>
    </div>
  </div>
</div>
