<div class="container mx-auto pt-2 pb-8">
    <h1 class="mb-8 mt-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white w-full"><span class="underline underline-offset-3 decoration-8 decoration-primary-100 dark:decoration-primary-100">My offerings</span></h1>

    <div class="w-full grid grid-cols-20/80">

        <div>
          <div class="w-48 h-fit text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white mb-8">
            <button (click)="goToCatalogs()" id="catalogs-button" aria-current="true" class="block w-full px-4 py-2 text-white bg-primary-100 border-b border-gray-200 rounded-t-lg cursor-pointer dark:border-gray-600 hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                Catalogs
            </button>
            <button (click)="goToOffers()" id="offers-button" class="block w-full px-4 py-2 border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
              Offers
            </button>
          </div>
  
          <div class="w-48 h-fit text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            <button (click)="goToProdSpec()" id="prod-spec-button" class="block w-full rounded-t-lg px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
              Product Specifications
            </button>
            <button (click)="goToServiceSpec()" id="sev-spec-button" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                Service Specifications
            </button>
            <button (click)="goToResourceSpec()" id="res-spec-button" class="block w-full px-4 py-2 border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                Resource Specifications
            </button>
          </div>
        </div>

        @if(show_catalogs){
          <seller-catalogs></seller-catalogs>
        }
        @if(show_prod_specs){
          <seller-product-spec></seller-product-spec>
        }
        @if(show_service_specs){
          <seller-service-spec></seller-service-spec>
        }
        @if(show_resource_specs){
          <seller-resource-spec></seller-resource-spec>
        }
        @if(show_offers){
          <seller-offer></seller-offer>
        }
        @if(show_create_prod_spec){
          <create-product-spec></create-product-spec>
        }
        @if(show_create_serv_spec){
          <create-service-spec></create-service-spec>
        }
        @if(show_create_res_spec){
          <create-resource-spec></create-resource-spec>
        }
    </div>
</div>