<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
    <h2 class="pb-2 text-4xl font-extrabold text-primary-100 mb-4 text-center dark:text-primary-50">{{ 'PLATFORM._title' | translate }}</h2>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-secondary-50 text-center">{{ 'PLATFORM._subtitle' | translate }}</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- OPEN -->
        <div class="border border-primary-100 dark:border-primary-50 rounded-lg p-8 md:p-12">
            <div class="grid grid-cols-80/20 pb-4 h-1/4">
                <div class="flex justify-start">
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">{{ 'PLATFORM.OPEN._title' | translate }}</h2>
                </div>
                <div class="flex justify-end">
                    <fa-icon [icon]="faLockOpen" class="fa-2xl text-primary-100 dark:text-primary-50 align-middle"></fa-icon>
                </div>
            </div>
            
            <p class="h-2/4 text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">{{ 'PLATFORM.OPEN._desc' | translate }}</p>

            <!--<div class="flex h-1/4 align-bottom">
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">{{ 'PLATFORM._learn_more' | translate }}
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                    </a>
            </div>-->

        </div>
        <!-- INTEROPERABLE -->
        <div class="border border-primary-100 dark:border-primary-50 rounded-lg p-8 md:p-12">
            <div class="grid grid-cols-80/20 pb-4 h-1/4">
                <div class="flex justify-start">
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">{{ 'PLATFORM.INTEROPERABLE._title' | translate }}</h2>
                </div>
                <div class="flex justify-end">
                    <fa-icon [icon]="faCircleNodes" class="fa-2xl text-primary-100 dark:text-primary-50 align-middle"></fa-icon>
                </div>
            </div>
            
            <p class="h-2/4 text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">{{ 'PLATFORM.INTEROPERABLE._desc' | translate }}</p>
            <!--<div class="flex h-1/4 align-bottom">
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">{{ 'PLATFORM._learn_more' | translate }}
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>-->
        </div>
        <!-- TRUSTWORTHY -->
        <div class="border border-primary-100 dark:border-primary-50 rounded-lg p-8 md:p-12">
            <div class="grid grid-cols-80/20 pb-4 h-1/4">
                <div class="flex justify-start">
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">{{ 'PLATFORM.TRUSTWORTHY._title' | translate }}</h2>
                </div>
                <div class="flex justify-end">
                    <fa-icon [icon]="faShieldCheck" class="fa-2xl text-primary-100 dark:text-primary-50 align-middle"></fa-icon>
                </div>
            </div>
            
            <p class="h-2/4 text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">{{ 'PLATFORM.TRUSTWORTHY._desc' | translate }}</p>
            <!--<div class="flex h-1/4 align-bottom">
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">{{ 'PLATFORM._learn_more' | translate }}
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>-->
        </div>
        <!-- COMPLIANT -->
        <div class="border border-primary-100 dark:border-primary-50 rounded-lg p-8 md:p-12">
            <div class="grid grid-cols-80/20 pb-4 h-1/4">
                <div class="flex justify-start">
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">{{ 'PLATFORM.COMPLIANT._title' | translate }}</h2>
                </div>
                <div class="flex justify-end">
                    <fa-icon [icon]="faHammer" class="fa-2xl text-primary-100 dark:text-primary-50 align-middle"></fa-icon>
                </div>
            </div>
            
            <p class="h-2/4 text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">{{ 'PLATFORM.COMPLIANT._desc' | translate }}</p>
            <!--<div class="flex h-1/4 align-bottom">
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">{{ 'PLATFORM._learn_more' | translate }}
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>-->
        </div>
        <!-- SUSTAINABLE -->
        <div class="border border-primary-100 dark:border-primary-50 rounded-lg p-8 md:p-12">
            <div class="grid grid-cols-80/20 pb-4 h-1/4">
                <div class="flex justify-start">
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">{{ 'PLATFORM.SUSTAINABLE._title' | translate }}</h2>
                </div>
                <div class="flex justify-end">
                    <fa-icon [icon]="faLeaf" class="fa-2xl text-primary-100 dark:text-primary-50 align-middle"></fa-icon>
                </div>
            </div>
            
            <p class="h-2/4 text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">{{ 'PLATFORM.SUSTAINABLE._desc' | translate }}</p>
            <!--<div class="flex h-1/4 align-bottom">
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">{{ 'PLATFORM._learn_more' | translate }}
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>-->
        </div>  
        <!-- TRANSPARENT -->
        <div class="border border-primary-100 dark:border-primary-50 rounded-lg p-8 md:p-12">
            <div class="grid grid-cols-80/20 pb-4 h-1/4">
                <div class="flex justify-start">
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">{{ 'PLATFORM.TRANSPARENT._title' | translate }}</h2>
                </div>
                <div class="flex justify-end">
                    <fa-icon [icon]="faMagnifyingGlass" class="fa-2xl text-primary-100 dark:text-primary-50 align-middle"></fa-icon>
                </div>
            </div>
            
            <p class="h-2/4 text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">{{ 'PLATFORM.TRANSPARENT._desc' | translate }}</p>
            <!--<div class="flex h-1/4 align-bottom">
                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">{{ 'PLATFORM._learn_more' | translate }}
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>-->
        </div>  
    </div>
  </div>
  