<h2 class="text-2xl font-bold text-gray-900 mb-1">{{ 'USAGE_SPECS._general_info' | translate }}</h2>
<p class="text-sm text-gray-500 mb-6">{{ 'USAGE_SPECS._general_info_desc' | translate }}</p>

<div class="flex flex-col gap-5">
  @if (nameControl) {
    <div>
      <label for="prod-name" class="block text-sm font-semibold text-gray-900 mb-2">{{ 'USAGE_SPECS._name' | translate }} <span class="text-red-500">*</span></label>
      <input data-cy="usageSpecName" id="prod-name" type="text" [formControl]="nameControl" maxLength="100"
        placeholder="{{ 'USAGE_SPECS._name_placeholder' | translate }}"
        [class.border-status-danger-border]="showNameError"
        [class.border-gray-300]="!showNameError"
        class="bg-white border text-gray-900 text-sm rounded-lg focus:ring-primary-100 focus:border-primary-100 block w-full p-3"/>
      @if(showUniqueNameError){
        <p class="mt-1 text-xs text-status-danger-border"><span class="font-medium">{{ 'USAGE_SPECS._unique' | translate }}</span></p>
      }
    </div>
  }
  @if (descControl) {
    <div>
      <label class="block text-sm font-semibold text-gray-900 mb-2">{{ 'USAGE_SPECS._description' | translate }}</label>
      <app-markdown-textarea data-cy="usageSpecDescription" [formControl]="descControl"></app-markdown-textarea>
    </div>
  }
</div>
