@if (nameControl) {
    <label for="prod-name" class="font-bold text-lg dark:text-white">{{ 'USAGE_SPECS._name' | translate }}</label>
    <input id="prod-name" type="text" [formControl]="nameControl" maxLength="100"
           class="mb-2 bg-gray-50 dark:bg-secondary-300 border border-gray-300 dark:border-secondary-200 dark:text-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"/>
  }
  @if (descControl) {
    <label class="font-bold text-lg col-span-2 dark:text-white">{{ 'USAGE_SPECS._description' | translate }}</label>
    <app-markdown-textarea [formControl]="descControl"></app-markdown-textarea>
  }
  