<footer class="fixed bottom-0 left-0 z-10 h-[25px] w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-end md:p-6 dark:bg-tertiary-50 dark:border-gray-600">
  <div class="flex justify-between items-center w-full">
    <!-- Social Links Dinámicos -->
    <div class="flex justify-start text-gray-500 dark:text-gray-400">
      <ng-container *ngFor="let social of socialLinks; let last = last">
        <fa-icon (click)="open(social.url!)" [ngClass]="{'mr-4': !last}" class="cursor-pointer" [icon]="social.icon"></fa-icon>
      </ng-container>
    </div>

    <!-- Dynamic Footer Links -->
    <ul class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400">
      @if(checkLogged){
        <li>
          <button (click)="feedback=!feedback;$event.stopPropagation();" class="mr-4 hover:underline md:mr-6">Feedback</button>
        </li>
      }
      <li *ngFor="let link of footerLinks">
        <!-- Enlace externo (ej. a un PDF o web externa) -->
        <a *ngIf="!link.isRouterLink" [href]="link.url" target="_blank" class="mr-4 hover:underline md:mr-6">
          {{ link.label | translate }}
        </a>
        <!-- Enlace interno (manejado por el router de Angular) -->
        <a *ngIf="link.isRouterLink" (click)="goTo(link.url!)" class="mr-4 hover:underline md:mr-6 cursor-pointer">
          {{ link.label | translate }}
        </a>
      </li>
    </ul>
  </div>
</footer>

@if(feedback){
  <feedback-modal
  rateMessage="{{ 'FEEDBACK._footer_title' | translate }}"
  writeMessage="{{ 'FEEDBACK._footer_improve' | translate }}"
  type="experience"
  class="fixed inset-0 flex items-center justify-center z-40"></feedback-modal>
}
