

<tr class="flex border-b hover:bg-gray-200 dark:border-gray-700 dark:bg-secondary-300 dark:hover:bg-secondary-200 w-full justify-between">
    <td class="flex px-6 py-4 w-3/5 text-wrap break-all">
        {{path}} / <b>{{child.name}}</b>
    </td>
    <td class="hidden md:flex px-6 py-4 w-fit">
        {{child.lastUpdate | date:'EEEE, dd/MM/yy, HH:mm'}} 
    </td> 
    <td class="flex px-6 py-4 w-fit justify-end">
        <input id="select-checkbox" [checked]="isCategorySelected(child)" type="checkbox" value="" (click)="addCategory(child)" class="flex w-4 h-4 justify-end text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    </td>
</tr>


@if(child.children && child.children.length>0){
    @for(innerchild of child.children; track innerchild){
        <categories-recursion class="w-full text-wrap break-all" [child]="innerchild" [selected]="selected" [parent]="child" [path]="path+' / '+child.name"></categories-recursion>
    }
}
